::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #7F7F7F;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #7F7F7F;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #7F7F7F;
}
:-moz-placeholder { /* Firefox 18- */
    color: #7F7F7F;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}
.errorSummary,
.error-message-delivery-formal,
.error-message-cust-formal{
    color: red;
    margin-bottom: 10px;
}
.error-message{
    padding: 0 20px 20px;
    color: red;
}
/*=====Reserve box=====*/
.takuhai-reserve .reserve-row.date{
    order: 1;
}
.takuhai-reserve .reserve-text{
    margin-bottom: 10px;
}
.reserve-overview{
    margin-bottom: 20px;
}
.reserve-overview .title-general,
.customer-info-container .title-general{
    font-weight: bold;
    color: #fff;
}
.reserve-box{
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.reserve-row{
    color: #3D3D3D;
    margin-bottom: 15px;
}
.reserve-info{
    font-weight: bold;
    font-size: 13px;
    line-height: 1.5;
    background-image: -webkit-gradient(linear,left top, right top,color-stop(20%, #000),color-stop(10%, rgba(78,0,55,0)));
    background-image: -webkit-linear-gradient(left,#000 20%,rgba(78,0,55,0) 10%);
    background-image: -o-linear-gradient(left,#000 20%,rgba(78,0,55,0) 10%);
    background-image: linear-gradient(to right,#000 20%,rgba(78,0,55,0) 10%);
    background-position: bottom;
    background-size: 8px 2px;
    background-repeat: repeat-x;
    margin-bottom: 5px;
}
.reserve-text{
    font-size: 12px;
}
.reserve-text .calendar{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    color: #4e0037;
    font-size: 18px;
    cursor: pointer;
}
.reserve-box .total{
    font-size: 14px;
    text-align: right;
    margin-bottom: 30px;
}
.total-text{
    margin-right: 10px;
}
.reserve-btn{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/*=====Reserve detail=====*/
.product-detail-container{
    padding: 0 10px;
}
.reserve-product-detail{
    border: 1px solid #4e0037;
    margin-bottom: 20px;
}
.reserve-product-detail:last-child{
    margin-bottom: 0;
}
.reserve-product-detail .title-general .text-tstep-booking{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.reserve-product{
    padding: 12px 0 12px 10px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.remove-cart{
    border-radius: 50%;
    width: 18px;
    height: 18px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    line-height: 15px;
    text-align: center;
}
.reserve-product-container{
    padding: 0 20px 10px 20px;
}
.reserve-product-img{
    border: 1px solid #4e0037;
    margin-bottom: 20px;
}
.product-detail-box{
    margin-bottom: 20px;
}
.product-detail-title{
    color: #5D5D5D;
    font-size: 14px;
    border-bottom: 1px solid #4e0037;
    padding: 0 0 5px 15px;
    margin-bottom: 10px;
    position: relative;
}
.product-detail-title:before{
    position: absolute;
    content: '\2BC6';
    top: -4px;
    left: 0;
    font-size: 15px;
}
.sub-title{
    color: #000;
    font-size: 10px;
    margin-left: 10px;
}
/*2BC5*/
.product-name{
    color: #4e0037;
    padding-bottom: 10px;
    border-bottom: 2px solid #4e0037;
    font-size: 17px;
    margin-bottom: 15px;
}
.product-price{
    color: #E50011;
    font-size: 26px;
    margin-bottom: 15px;
}
.product-size-list li{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 8px 5px;
    border-bottom: 1px dotted #4e0037;
}
.product-size-list li span{
    width: 50%;
    font-size: 12px;
}
.modal-open{
    overflow: hidden;
}
.wrap-booking-flow{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    z-index: 9999;
}
.wrap-booking-flow-overflow{
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
}
.wrap-booking-flow .form-booking-flow{
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: relative;
}
.wrap-booking-flow .form-booking-flow .booking-flow-inner{
    height: 100%;
}
.wrap-booking-flow .loading-overlay{
    display: none;
}
.wrap-booking-flow.booking-flow-locked .loading-overlay{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.wrap-booking-flow.booking-flow-locked .loading-overlay>.loading {
    background: url(../../../../../images/reserve/ajax-loader.gif) no-repeat;
    width: 100%;
    height: 100%;
    top: calc( 50% - 25px );
    left: calc( 50% - 25px );
    position: absolute;
}
.wrap-booking-flow.booking-flow-locked .booking-flow-inner {
    opacity: 0.4;
}
.wrap-booking-flow .step-item{
    display: none;
}
.wrap-booking-flow .step-item-01{
    padding-top: 18%;
}
.wrap-booking-flow .booking-flow-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 0 10px;
    background-color: #efefef;
}
.wrap-booking-flow .title-step{
    flex: 1;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
}
.wrap-booking-flow .btn-link-step{
    text-align: center;
    font-size: 10px;
    color: #000;
    align-items: center;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
}
.wrap-booking-flow .btn-close-step{
    flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
}
.wrap-booking-flow .btn-link-step .icon{
    display: block;
    line-height: 1;
    font-size: 25px;
    margin-bottom: -4px;
}
.wrap-booking-flow .icon-formal-popup-close{
    margin-left: 3px;
}
.wrap-booking-flow .icon-formal-arrow-back{
    margin-right: 7px;
}
.wrap-booking-flow .booking-flow-breadcrumb{
    height: 35px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    background-image: -webkit-gradient(linear,left top, right top,color-stop(20%, #4e0037),color-stop(10%, rgba(78,0,55,0)));
    background-image: -webkit-linear-gradient(left,#4e0037 20%,rgba(78,0,55,0) 10%);
    background-image: -o-linear-gradient(left,#4e0037 20%,rgba(78,0,55,0) 10%);
    background-image: linear-gradient(to right,#4e0037 20%,rgba(78,0,55,0) 10%);
    background-position: bottom;
    background-size: 4px 1px;
    background-repeat: repeat-x;
}
.wrap-booking-flow .step-breadcrumb{
    display: flex;
    align-items: center;
    color: #9b9b9b;
    font-size: 10px;
    margin-right: 10px;
}
.wrap-booking-flow .step-breadcrumb:last-child{
    margin-right: 0;
}
.wrap-booking-flow .step-breadcrumb.active {
    color: #000;
}
.wrap-booking-flow.two-step .step-breadcrumb:nth-child(3){
    display: none;
}
.wrap-booking-flow .step-breadcrumb:after{
    content: "";
    display: inline-block;
    margin-left: 5px;
    width: 8px;
    height: 8px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    border-right: 1px solid rgba(107,122,131,1);
    border-bottom: 1px solid rgba(107,122,131,1);
}
.wrap-booking-flow.two-step .step-breadcrumb:nth-child(2):after{
    display: none;
}
.wrap-booking-flow .step-breadcrumb:last-child:after{
    display: none;
}
.wrap-booking-flow .wrap-content-popup{
    overflow: auto;
    height: calc(100% - 120px);
}
.wrap-booking-flow .booking-flow-content{
    padding: 10px;
    box-sizing: border-box;
}
.wrap-booking-flow .title-content-step{
    color: #000;
    font-size: 15px;
    font-weight: normal;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.wrap-booking-flow .title-content-step:before{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}
.wrap-booking-flow .title-content-step.black:before{
    background-color: #000;
}
.wrap-booking-flow .title-content-step.purple:before{
    background-color: #4e0037;
}
.wrap-booking-flow .step-control{
    text-align: center;
    padding: 0 10px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    bottom: 0;
}
/* Step 1 */
.wrap-booking-flow .radio-booking-type{
    display: none;
}
.wrap-booking-flow .wrap-step-items{
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    margin-bottom: 0;
}
.wrap-booking-flow .wrap-item-booking-type,
.wrap-booking-flow .content-plan{
    display: block;
}
.wrap-booking-flow .item-booking-type{
    flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    margin-bottom: 20px;
}
.wrap-booking-flow .item-booking-type.disabled{
     pointer-events: none;
}
.wrap-booking-flow .item-booking-type:last-child{
    margin-bottom: 0;
}
.wrap-booking-flow .wrap-item-booking-type{
    border: 1px solid #bebebe;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.wrap-booking-flow .title-plan{
    background-color: #dbdbdb;
    height: 60px;
    -webkit-border-radius:0 0 5px 5px;
    -moz-border-radius:0 0 5px 5px;
    border-radius:0 0 5px 5px;
    justify-content: space-between;
}
.wrap-booking-flow .item-booking-type:not(.disabled) .title-plan.active{
    background-color: #ffff00;
}
.wrap-booking-flow .item-booking-type:not(.disabled) .title-plan.active .text{
    color: #000;
}
.wrap-booking-flow .item-booking-type:not(.disabled) .title-plan.active .arrow:after{
    border-top-color: #000;
}
.wrap-booking-flow .title-plan .text{
    color: #4f4f4f;
    font-size: 16px;
    font-weight: bold;
    flex: 1;
    text-align: left;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.wrap-booking-flow .title-plan br{
    display: none;
}
.wrap-booking-flow .title-plan .arrow{
    width: 35px;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap-booking-flow .title-plan .arrow:after{
    content: "";
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 9px solid #5d5d5d;
}
.wrap-booking-flow .title-plan.closed .arrow{
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.wrap-booking-flow .content-plan{
    cursor: pointer;
    font-size: 12px;
    color: #000;
    padding: 12px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.item-booking-type.disabled .title-plan,
.item-booking-type.disabled .content-plan{
    cursor: no-drop;
    opacity: 0.5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.item-booking-type.disabled .wrap-item-booking-type:hover .title-plan{
    background-color: #dbdbdb;
    color: #4f4f4f;
    opacity: 0.5;
}
.wrap-booking-flow .popup-notice-plan{
    font-size: 13px;
    color: red;
    margin-top: 20px;
    line-height: 1.7;
}

/* Custom product-detail */
.wrap-booking-flow .reserve-product-detail{
    flex-direction: column;
    -webkit-flex-direction: column;
    border: none;
}
.wrap-booking-flow .wrap-item-product{
    flex: 1;
    margin-bottom: 20px;
}
.wrap-booking-flow .wrap-item-product:last-child{
    margin-bottom: 0;
}
.wrap-booking-flow .popup-options-list-product{
    border-top: 2px solid #000;
    padding-top: 20px;
}
.wrap-booking-flow .wrap-items-info{
    margin-bottom: 0;
}
.wrap-booking-flow .popup-image-product{
    margin: 0 0 15px 0;
    border: 1px solid #424242;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
}
.wrap-booking-flow .popup-image-product img{
    width: 100%;
}
.wrap-box-image-product .title-name-product{
    padding: 0 0 5px 0;
    border-width: 2px;
    margin-bottom: 15px;
}
.wrap-booking-flow .image-content{
    margin-bottom: 20px;
}
.wrap-booking-flow .image-content img{
    width: 100%;
}
.wrap-booking-flow .title-content{
    font-size: 13px;
    font-weight: bold;
    color: #4c4c4c;
    border-bottom: 1px solid #4e0037;
    line-height:1;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.wrap-booking-flow .sub-title{
    font-size: 9px;
    color: #000;
}
.wrap-booking-flow .text-content{
    color: #3d3d3d;
    font-size: 12px;
    margin-bottom: 20px;
    line-height: 1.7;
}
.wrap-booking-flow .text-content-bottom{
    margin-bottom: 5px;
}
.wrap-booking-flow .link-content{
    text-align: right;
}
.wrap-booking-flow .link-content a{
    color: #4e0037;
    text-decoration: underline !important;
}
.wrap-booking-flow .reserver-total{
    padding: 0;
    margin: 0;
}
.list-products-popup .title{
    border: none;
    color: #000;
    margin: 20px 10px 15px;
    padding: 0;
}
.list-products-popup .flexslider{
    padding: 0 20px;
}
.list-products-popup .flex-direction-nav .flex-prev,
.list-products-popup .flexslider:hover .flex-direction-nav .flex-prev{
    left: 0;
}
.list-products-popup .flex-direction-nav .flex-next,
.list-products-popup .flexslider:hover .flex-direction-nav .flex-next{
    right: 0;
}

/*=====Customer form=====*/
.customer-info-container .title-general .icon-title-general{
    margin-right: 5px;
    font-size: 22px;
}
.customer-info-container .title-general{
    margin-bottom: 20px;
    padding: 10px;
}
.customer-form{
    background-color: #ececec;
}
.form-info{
    padding: 20px 20px 10px 20px;
}
.form-submit{
    padding: 30px 20px;
    background-color: #fff;
}
.form-group{
    margin-bottom: 20px;
}
.customer-info{
    margin-bottom: 8px;
}
.required{
    background-color: #D8D8D8;
    padding: 3px 6px;
    font-size: 11px;
    margin-left: 5px;
}
.form-group label{
    font-size: 12px;
}
.input-group{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.form-group input, .form-group select{
    padding: 10px;
    border: 1px solid transparent;
    outline: none;
    font-size: 11px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.form-input,
.form-select{
    width: 100%;
}
.form-group button{
    border: none;
    margin-bottom: 15px;
    cursor: pointer;
}
.error .select-tag,
.form-group span.error .form-input,
.form-group.error .form-input,
.input-group.error .form-input {
    border: 1px solid red;
}
.flexbox.error{
    flex-wrap: wrap;
}
.flexbox.error .form-input{
    width: 100%;
    border: 1px solid red;
}
.birthday-h.error .select-tag
{
	border: none;
}
.select-year.error select.select-tag,.select-month.error select.select-tag,.select-day.error select.select-tag{
	border: 1px solid red;
}
.confirm input[type="checkbox"]{
    margin: 0 5px 0 0;
    width: 20px;
    height: 20px;
    border: 1px solid #a0a0a0;
    background-color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: initial;
}
.confirm input[type="checkbox"]:checked{
    background-image: url("../../../../../images/formal-rental/checkbox.png");
    background-color: #fff;
    -webkit-background-size:contain;
    background-size:contain;
}
.confirm.error input[type="checkbox"]{
    border: 1px solid red;
}
.input-group span .form-input{
    width: 100%;
}
.input-group .form-input{
    width: calc(100% * 1/2 - 10px);
}
.input-group span{
    width: 50%;
    margin-left: 10px;
}
.input-no-error .form-input{
    margin-left: 10px;
}
/*
.rep-name-formal .input-group .form-input{
    width: 100%;
    margin-left: 0;
} */
.find-zip{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 20px;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.find-zip .icon{
    margin-left: 5px;
    font-size: 15px;
}
.select-birthday{
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.select-birthday .select-box{
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.select-tag{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-radius: 6px;
    -webkit-appearance: none;
    background-color: #fff;
    background-image: url("../../../../../images/formal-rental/arrow-down-purple.svg");
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: right 5px center;
}
.select-box .birthday-text{
    margin-left: 5px;
}
.confirm input{
    width: 20px;
    height: 20px;
}
#confirm-check,
.confirm-check{
    display: none;
}
#confirm-check + label span,
.confirm-check {
    display: inline-block;
    width: 19px;
    height: 19px;
    vertical-align: middle;
    background-image: url("../../../../../images/formal-rental/icon-checkbox-group.svg");
    background-repeat: no-repeat;
    background-position: 1px;
    cursor: pointer;
    margin:-2px 10px 0 0;
}

#confirm-check:checked + label span{
    background-position: -20px;
}
.confirm-text{
    font-size: 12px;
}
.takuhai-customer-info .confirm-text{
    margin-right: 5px;
    font-size: 11px;
}
.takuhai-customer-info .hide{
    display: none;
}
.warning{
    color: red;
    font-size: 12px;
}
.takuhai-customer-info .service-warranty-popup{
    margin: 10px 0 15px 0;
}
.takuhai-customer-info .service-warranty-popup a{
    font-weight: bold;
    color: blue;
}
.service-warranty-popup a:before{
    content: '\25B6';
    margin-right: 5px;
    color: blue;
}

/* Start login partner */
.partner {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction:row;
    -webkit-flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 12px;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.overlay-body {
    display: flex;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.overlay-body .loading {
    background: url(../../../../../images/reserve/ajax-loader.gif) no-repeat;
    width: 55px;
    height: 55px;
    opacity: 0.8;
}
.swe-simple-dialog.dialog-partner-login{
    position: fixed;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 0.3em;
    z-index: 2;
}
.swe-simple-dialog.dialog-partner-login .title-bar{
    position: relative;
    padding: 4px 10px;
    background-color: #733d6d;
    width: 100%;
    height: 36px;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction:row;
    -webkit-flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.swe-simple-dialog.dialog-partner-login .title-bar .title{
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin: .1em 16px .1em 0;
}
.swe-simple-dialog.dialog-partner-login .title-bar .close{
    width: 20px;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.swe-simple-dialog.dialog-partner-login .title-bar .close .icon{
    color: #fff;
    font: bold 2em arial;
}
.swe-simple-dialog.dialog-partner-login .submit{
    text-align: center;
    margin-top: 10px;
}
#dualSpPCDialog-mainContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 85%;
    width: 100%;
}
.errorMessage {
    padding: 4px 0px 1px 10px;
    color: red;
}
.login-form .errorMessage,
.login-form .remember label{
    font-size: 12px;
}
.errorSummary {
    border: 1px solid;
    color: red;
    padding: 10px;
    margin-bottom: 30px;
}
.errorSummary li {
    padding: 5px 0 5px 10px;
}
.errorSummary a{
    text-decoration: underline !important;
    color: red;
}
.successSummary{
    border: 1px solid;
    color: green;
    padding: 10px;
    margin-bottom: 30px;
}
.confirm-preview{
    background-color: #00b050;
    border: 1px solid #00b050;
}
/* End login partner */
/*=====.wrap-set-options=====*/
.box-info-reserve .content-col-info{
    padding: 0;
}
.wrap-set-options{
    margin: 0;
}
.wrap-set-options .list-options{
    padding: 0 10px;
}
.wrap-set-options .item-group-options{
    margin-bottom: 10px;
    padding-bottom: 10px;
    background-image: -webkit-gradient(linear,left top, right top,color-stop(20%, #4e0037),color-stop(10%, rgba(78,0,55,0)));
    background-image: -webkit-linear-gradient(left,#4e0037 20%,rgba(78,0,55,0) 10%);
    background-image: -o-linear-gradient(left,#4e0037 20%,rgba(78,0,55,0) 10%);
    background-image: linear-gradient(to right,#4e0037 20%,rgba(78,0,55,0) 10%);
    background-position: bottom;
    background-size: 4px 1px;
    background-repeat: repeat-x;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.wrap-set-options .item-group-options:last-child{
    background-image: -webkit-gradient(linear,left top, right top,color-stop(20%, #919191),color-stop(10%, rgba(78,0,55,0)));
    background-image: -webkit-linear-gradient(left,#919191 20%,rgba(78,0,55,0) 10%);
    background-image: -o-linear-gradient(left,#919191 20%,rgba(78,0,55,0) 10%);
    background-image: linear-gradient(to right,#919191 20%,rgba(78,0,55,0) 10%);
    background-position: bottom;
    background-size: 4px 1px;
    background-repeat: repeat-x;
}
.wrap-set-options .name-option{
    flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    font-size: 10px;
    font-weight: bold;
    color: #000;
    border: none;
    margin: 0;
    padding: 7px 0;
}
.wrap-set-options .list-price-option{
    font-size: 14px;
    color: red;
    text-align: right;
}
.question{
    -webkit-appearance: none;
    background-image: url("../../../../../images/formal-rental/arrow-select-ques.svg");
    background-repeat: no-repeat;
    background-size: 4%;
    background-position: right 14px center;
    background-color: #fff;
}
.wrap-item-group-options{
    width: 100%;
}
.sub-list-options{
    width: 100%;
    margin-top: 10px;
    display: none;
}
.sub-list-options .wrap-item-option{
    margin-bottom: 7px;
    padding-bottom: 7px;
}
.sub-list-options .item-option-name,
.sub-list-options .item-option-price{
    font-size: 11px;
}
.item-option-input{
    margin-right: 5px;
}
.item-option-input input[type="checkbox"]{
    margin-right: 5px;
}

/* total-option */
.wrap-set-options .total-option{
    padding: 0 10px;
}
.wrap-set-options .total-option .label{
    font-size: 13px;
    font-weight: bold;
    color: #4c4c4c;
}
.wrap-set-options .total-option .price{
    font-size: 17px;
    color: #e50011;
}

/* .reserver-total */

.takuhai-reserve .reserver-total .first li{
    border-bottom: 1px solid #919191;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.takuhai-reserve .reserver-total .first li label{
    display: inline-block;
    width: 100px;
    font-weight: bold;
}


.reserver-total{
    margin-top: 20px;
    padding: 0 20px;
}
.reserver-total .label{
    font-size: 15px;
    font-weight: bold;
    color: #4c4c4c;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #4e0037;
}
.reserver-total .price{
    font-size: 20px;
    color: #ca151d;
}
.customer-form .reserve-btn-group{
    border-top: 0;
}
.reserve-btn-group{
    border-top: 1px solid #919191;
    padding-top: 20px;
}
.takuhai-dialog{
    width: 80% !important;
}
.takuhai-dialog .ui-dialog-title{
    font-size: 12px;
}
.takuhai-dialog .ui-dialog-buttonset .ui-button-text{
    background-color: #4e0037;
    color: #fff;
}

#booking_form div span.agreement-condition{
    color: #e06666;
}
#booking_form div span.agreement-condition:hover{
    cursor: pointer;
}
#booking div span.agreement-condition:hover{cursor: pointer;}
.swe-simple-dialog.dialog-agreement-condition{
    position: fixed;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.main-content.main-content-agreement-condition{
    overflow-y: auto;
    background: #fff;
    padding: 5px;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
}
.swe-simple-dialog.dialog-agreement-condition{
    position: fixed;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.swe-simple-dialog {
    background: #e33f7b;
    padding: 0.3em;
}
.dialog-partner-login.swe-simple-dialog{
    background: #fff;
}
.swe-simple-dialog .title-bar{
    position: relative;
    padding: .4em 0;
}
.swe-simple-dialog .title-bar .title{
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
    margin: .1em 16px .1em 0;
}
.swe-simple-dialog .title-bar .close{
    position: absolute;
    right: 0.5em;
    top: 0;
    width: 19px;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    text-align: center;
}
.swe-simple-dialog .title-bar .close .icon{
    color: black;
    font: bold 2em arial;
}

#agreement-condition-content p {
    padding-left: 12px;
    font-size: 12px;
}
.ui-dialog .ui-dialog-title {
    font-size: 13px;
    font-weight: bold;
    color: #fff;
}
.ui-dialog, .ui-widget, .ui-widget-content, .ui-corner-all, .ui-widget-header {
    color: #000;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border: none !important;
    border-radius: 0 !important;
}

@media (max-width: 360px){
    .reserve-product-container {
        padding: 0 10px 10px;
    }
    .wrap-items-info .sub-name-item .sm-sub-name-item {
        font-size: 9px;
        margin-left: 10px;
    }
    label.confirm-text,
    .warning{
        font-size: 11px;
    }
    .takuhai-customer-info .confirm-text{
        font-size: 9px;
    }
}

@media (min-width: 750px){
    .swe-simple-dialog.dialog-partner-login{
        width: 250px;
        height: 250px;
        box-sizing: border-box;
        top: 25%;
        left: 0;
        right: 0;
        margin: auto;
        background-color: #fff;
        border: 1px solid #ccc;
    }
    .partner{
        padding: 0;
    }
    .reserve-box{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-left: -20px
    }
    .reserve-row{
        width: calc(100% * 1/2 - 20px);
        margin-left: 20px
    }
    .reserve-btn-wrap{
        width: 100%;
    }
    .reserve-box .reserve-btn-wrap{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
    }
    .reserve-btn{
        width: 50%;
        padding: 20px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .reserve-info{
        font-size: 14px;
    }
    .product-quantity{
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
    .date{
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }
    .total{
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        padding-top: 25px;
    }
    .reserve-btn-wrap{
        -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
        order: 5;
    }
    .reserve-product-container{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .remove-cart{
        line-height: 18px;
    }
    .reserve-product-img{
        border: none;
        width: 60%;
    }
    .reserve-product-img img{
        border: 1px solid #4e0037;
        width: 100%;
    }
    .reserver-total{
        padding: 0 10px;
    }
    .box-info-reserve{
        width: 35%;
        margin-left: 5%;
    }
    .customer-form .reserve-btn-group{
        border-top: 1px solid #919191;
    }
    .input-group span{
        width: initial;
    }
    .input-group span .form-input{
        width: 160px;
        margin-right: 10px;
    }
    .input-group .form-input,
    .flexbox.error .form-input{
        width: 240px;
        margin-right: 10px;
    }
    .form-input, .form-select{
        width: 240px;
    }
    .form-submit{
        padding: 20px 0;
    }
    .form-group input, .form-group select{
        align-self: end;
    }
    .form-group .errorMessage{
        display: flex;
        align-items: center;
    }
    .form-group input{
        padding: 12px;
        margin-right: 10px;
    }
    .form-group select{
        padding: 8px;
    }
    .form-group label{
        font-size: 14px;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
    .question{
        flex: initial;
    }
    .select-birthday{
        width: 366px;
    }
    .warning{
        margin-bottom: 25px;
    }
    .warning br{
        display: none;
    }
    .reserve-btn-group{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .reserve-btn-group .confirm{
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
    .customer-form .reserve-btn-group .confirm{
        background-color: #E50011;
    }
    .reserve-btn-group .btn-formal{
        width: 32%;
        line-height: 1;
    }
	.form-group .reserve-btn-group .confirm{
		margin-bottom: 0;
	}
    .form-group .reserve-btn-group .confirm-preview{
        order: 3;
    }
    /* wrap-booking-flow-overflow */
    .wrap-booking-flow .form-booking-flow{
        width: 70%;
        height: 98%;
    }
    .wrap-booking-flow .booking-flow-title{
        height: 45px;
        padding: 0 30px;
    }
    .wrap-booking-flow .wrap-item-booking-type{
        -webkit-border-radius:0;
        -moz-border-radius:0;
        border-radius:0;
    }
    .wrap-booking-flow .title-plan{
        height: 55px;
        border-radius: 0;
        cursor: pointer;
        line-height: 1.2;
    }
    .wrap-booking-flow .title-plan .text{
        font-size: 15px;
        padding-left: 0;
        text-align: center;
        justify-content: center;
    }
    .wrap-booking-flow .title-plan br{
        display: block;
    }
    .wrap-booking-flow .step-item-01{
        padding-top: 35px;
    }
    .wrap-booking-flow .content-plan{
        font-size: 12px;
        padding: 10px;
    }
    .wrap-booking-flow .wrap-content-popup{
        height: calc(100% - 100px);
    }
    .wrap-booking-flow .title-step{
        font-weight: bold;
        font-size: 14px;
    }
    .wrap-booking-flow .btn-link-step,
    .wrap-booking-flow .btn-close-step{
        flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
    }
    .wrap-booking-flow .btn-link-step{
        font-weight: bold;
        font-size: 8px;
    }
    .wrap-booking-flow .btn-link-step .icon{
        font-size: 25px;
        margin-bottom: -6px;
    }
    .wrap-booking-flow .title-plan .arrow{
        display: none;
    }
    .wrap-booking-flow .btn-link-step .icon-formal-popup-close{
        font-size: 25px;
        margin-bottom: -6px;
    }
    .wrap-booking-flow .booking-flow-breadcrumb{
        height: 40px;
        padding: 0 30px;
    }
    .wrap-booking-flow .step-breadcrumb{
        display: flex;
        align-items: center;
        color: #9b9b9b;
        font-size: 12px;
        margin-right: 30px;
    }
    .wrap-booking-flow .step-breadcrumb:after{
        margin-left: 30px;
        width: 12px;
        height: 12px;
    }
    .wrap-booking-flow .title-content-step{
        margin-bottom: 30px;
    }
    .wrap-booking-flow .step-item {
        margin-bottom: 0;
    }
    .wrap-booking-flow .booking-flow-content{
        padding: 5px 15px;
    }
    .wrap-booking-flow .step-control{
        padding: 0 30px 5px 30px;
    }
    .wrap-booking-flow .step-control{
        bottom: 8px;
    }
    /* Custom product-detail */
    .wrap-booking-flow .reserve-product-detail{
        flex-direction: row;
        -webkit-flex-direction: row;
        margin-left: -20px;
    }
    .wrap-booking-flow .wrap-item-product{
        margin-left: 20px;
    }
    .wrap-booking-flow .popup-options-list-product{
        padding-top: 25px;
    }
    .wrap-booking-flow .btn-formal{
        width: 340px;
        display: inline-block;
    }
    .list-products-popup .title{
        margin-right: 0;
        margin-left: 0;
    }
    .list-products-popup .flexslider{
        padding: 0 30px;
    }
    .wrap-booking-flow .wrap-set-options .name-option {
        font-size: 12px;
    }
    .wrap-booking-flow .wrap-step-items{
        flex-direction: row;
        margin-left:-20px;
    }
    .wrap-booking-flow .item-booking-type{
        margin: 0 0 0 20px;
        display: flex;
        display: -webkit-flex;
        display: -ms-flexbox;
    }
    .wrap-booking-flow .item-booking-type:hover .title-plan{
        background-color: #ffff00;
    }
    .wrap-booking-flow .item-booking-type:not(.disabled) .item-booking-type:hover .text{
        color: #000;
    }
    .takuhai-dialog{
        width: 60% !important;
        font-size: 11px;
    }
    .partner .btn-login {
        width: initial;
    }
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 1025px),
only screen and (   min--moz-device-pixel-ratio: 2) and (min-device-width: 1025px),
only screen and (   -o-min-device-pixel-ratio: 2/1) and (min-device-width: 1025px),
only screen and (        min-device-pixel-ratio: 2) and (min-device-width: 1025px),
only screen and (           min-resolution: 192dpi) and (min-device-width: 1025px),
only screen and (            min-resolution: 2dppx) and (min-device-width: 1025px) {

    .wrap-booking-flow .title-step,
    .wrap-booking-flow .step-breadcrumb,
    .title-choose{
        font-size: 11px;
    }
    .wrap-booking-flow .title-plan{
        height: 45px;
    }
    .wrap-booking-flow .title-plan .text{
        font-size: 13px;
    }
    .wrap-booking-flow .title-plan br{
        display: none;
    }
    .dropdown-choose-grid .year-month-list {
        padding: 3px;
    }
    .box-get-choose-grid .get-selected-date,
    .box-get-choose-grid .get-selected-shop {
        padding: 5px;
    }
    .box-get-choose-grid .get-selected-date,
    .box-get-choose-grid .get-selected-shop {
        font-size: 10px;
    }
}
@media (min-width: 768px) and (max-width: 959px){
    .wrap-set-options .name-option{
        font-size: 9px;
    }
    .wrap-set-options .list-price-option{
        width: 102px;
    }
    .input-group .form-input {
        width: calc(100% * 1/2 - 10px);
    }
}

@media (min-height: 700px) {
    .title-choose{
        padding-top: 10px;
    }
    .wrap-choose-date {
        margin-bottom: 20px;
    }
}