#block_ranking {
    padding: 0;
    margin-left: -10px;
}
#block_ranking li {
    width: calc(100% *(1/4) - 10px);
    margin: 0 0 10px 10px;
}
#block_ranking li p{
    font-size: 13px;
}
#block_ranking li p span.blue{
    margin-bottom: 5px;
    font-size: 20px;
}
.icon-collapsed-ranking{
    float: right;
    margin-right: 5px;
    font-size: 28px;
}