body{
    font-family: 'Noto Sans JP', sans-serif;
}
.main-title{
    padding: 0 10px;
    font-size: 12px;
    margin-bottom: 10px;
}
.wrap-banner,
.wrap-box-3point,
.wrap-select-plan,
.wrap-select-plan{
    margin-bottom: 40px;
    color: #252525;
}
.wrap-cb-title{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 1;
    margin-bottom: 20px;
}
.wrap-cb-title .icon{
    line-height: 1;
    width: 25px;
    margin-right: 3px;
    position: relative;
    top: -2px;
}
.wrap-txt-title .cb-title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}
.wrap-txt-title .cb-sub-title{
    font-size: 12px;
    color: #909090;
    font-weight: 300;
    letter-spacing: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/*Banner*/
.check-booking-info{
    margin-bottom: 40px;
}
.check-booking-info .title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.check-booking-info{
    padding: 0 10px;
}
.check-booking-info .title:before,
.check-booking-info .title:after {
    content: "";
    background: url(../../../../../images/new-kimono/cb-bn-pattern.svg) no-repeat;
    background-size: cover;
    width: 20px;
    height: 25px;
}
.check-booking-info .title:after{
    background-position: right;
    position: relative;
    right: 5px;
}
.check-booking-info p{
    font-size: 12px;
    font-weight: 300;
}

.wrap-box-3point,
.wrap-select-plan{
    padding: 0 10px;
}

/*Box 3 point*/
.box-3point{
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 0 20px -10px;
    padding: 5px;
}
.box-3point .point{
    width: calc(100% * 1/3 - 10px);
    margin-left: 10px;
}
.box-3point .point .wrap-point-name{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
}
.wrap-point-name .icon-point{
    margin-right: 5px;
    background: url(../../../../../images/new-kimono/sprite-icon-cb.svg) no-repeat;
    background-size: 135px;
    width: 30px;
}
.wrap-point-name .point-info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.point-2 .icon-point{
    background-position: -52px 0;
}
.point-3 .icon-point{
    background-position: -102px 0;
}
.point-info .point-num{
    font-size: 18px;
    font-weight: 900;
}
.point-info .point-name{
    font-size: 12px;
    font-weight: 900;
}
.box-3point .point .point-desc{
    font-size: 10px;
    line-height: 1.8;
}
.box-info .img{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 20px;
}
.box-info .img .ver-txt{
    font-weight: bold;
    font-size: 13px;
    margin-right: 10px;
    text-orientation: upright;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
}
.box-info .img img{
    width: 35%;
}
.box-info .sub-info{
    font-size: 12px;
}

/*Select plan*/
.wrap-select-plan .info{
    font-size: 12px;
    margin-bottom: 60px;
}
.wrap-select-plan .plan-box-item{
    position: relative;
    border: 2px solid #000;
    border-radius: 12px;
    padding: 10px 10px 20px 10px;
}
.wrap-select-plan .plan-box-item:not(:last-child){
    margin-bottom: 80px;
}
.plan-box-item:before,
.plan-box-item:after{
    position: absolute;
    content: '';
}
.plan-box-item:before{
    background: url(../../../../../images/new-kimono/cb-plan-pt.svg) no-repeat;
    background-size: 80%;
    width: 230px;
    height: 70px;
    z-index: 2;
    top: -60px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-position: center;
}
.plan-box-item:after{
    bottom: -13px;
    left: 0;
    background: url(../../../../../images/new-kimono/pt-dotted.svg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 14px;
}
.wrap-select-plan .bg-img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.plan-box-item .plan-cate{
    position: absolute;
    top: -17px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 20px;
    font-weight: 500;
    width: 64%;
    text-align: center;
    z-index: 3;
}
.white-bg{
    position: absolute;
    top: -17px;
    left: 50%;
    -webkit-transform: translateX(-46%);
    -ms-transform: translateX(-46%);
    transform: translateX(-46%);
    background-color: #fff;
    z-index: 1;
    width: 60%;
    height: 30px;
}
.white-bg:before{
    content: '';
    position: absolute;
    top: 8px;
    left: -20px;
    width: 20px;
    height: 15px;
    background-color: #fff;
}
.plan-box-item:last-child .white-bg:before{
    left: -10px;
}
.plan-box-item .plan-intro{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
}
.plan-box-item .tag{
    position: absolute;
    left: -5px;
    top: -14px;
    text-align: center;
    color: #cf434b;
    font-weight: 900;
    font-size: 8px;
    line-height: 1.2;
    padding: 4px 8px 4px 0;
    background: url(../../../../../images/new-kimono/cb-bg-tag.svg) no-repeat;
    background-size: 100% 100%;
    background-color: #fff;
    width: 62px;
    height: 25px;
    box-sizing: border-box;
}
.plan-box-item:last-child .tag{
    left: 5px;
}
.plan-box-item:last-child .tag:after{
    display: none;
}
.plan-box-item:last-child .white-bg{
    width: 63%;
}
.tag:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 12px;
    top: 50%;
    right: -5px;
    z-index: 10;
    background-color: #000;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.plan-box-item .plan-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 10px;
}
.plan-content .img{
    width: 45%;
    margin-right: 10px;
    border: 1px solid #231815;
    align-self: end;
}
.plan-content .plan-info{
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.plan-info .price{
    font-weight: bold;
    font-size: 28px;
    display: block;
    text-align: center;
    margin-bottom: 5px;
}
.plan-info .price:before,
.plan-info .price:after{
    content: '';
    display: inline-block;
    background: url(../../../../../images/new-kimono/cb-plan-info-pt.svg) no-repeat;
    background-size: cover;
    width: 22px;
    height: 30px;
    position: relative;
}
.plan-info .price:before{
    left: -5px;
}
.plan-info .price:after{
    right: -5px;
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
}
.plan-info .red-txt{
    color: #cf434b;
}
.plan-info .text-top{
    font-size: 11px;
    text-align: center;
    margin-bottom: 5px;
}
.plan-info .sub-info{
    font-size: 10px;
    padding: 0 7px;
    margin-bottom: 10px;
}
.plan-info .btn-plan{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 12px;
    border: 2px solid #000;
    border-radius: 30px;
    padding: 5px 10px;
    text-align: center;
    position: relative;
    z-index: 3;
    background-color: #fff;
    font-weight: 500;
}
.plan-info .wrap-btn{
    position: relative;
}
.plan-info .wrap-btn:after {
    content: '';
    position: absolute;
    background: url(../../../../../images/new-kimono/btn-dotted.svg) no-repeat;
    background-size: 100%;
    background-position: 0 0;
    width: 100%;
    height: 100%;
    top: 6px;
    left: 0;
}
.btn-plan .icon{
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-left: 5px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    position: relative;
    top: -3px;
}
.plan-content .plan-desc{
    font-size: 10px;
    margin: 10px 0 20px;
}
.plan-gallery .title{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.plan-gallery .title:after{
    content: '';
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 2px;
    background-image: -webkit-repeating-linear-gradient(left,#000 0,#000 50%,transparent 50%,transparent 100%),-webkit-repeating-linear-gradient(left,#000 0,#000 50%,transparent 50%,transparent 100%),-webkit-repeating-linear-gradient(top,#000 0,#000 50%,transparent 50%,transparent 100%),-webkit-repeating-linear-gradient(top,#000 0,#000 50%,transparent 50%,transparent 100%);
    background-image: -o-repeating-linear-gradient(left,#000 0,#000 50%,transparent 50%,transparent 100%),-o-repeating-linear-gradient(left,#000 0,#000 50%,transparent 50%,transparent 100%),-o-repeating-linear-gradient(top,#000 0,#000 50%,transparent 50%,transparent 100%),-o-repeating-linear-gradient(top,#000 0,#000 50%,transparent 50%,transparent 100%);
    background-image: repeating-linear-gradient(to right,#000 0,#000 50%,transparent 50%,transparent 100%),repeating-linear-gradient(to right,#000 0,#000 50%,transparent 50%,transparent 100%),repeating-linear-gradient(to bottom,#000 0,#000 50%,transparent 50%,transparent 100%),repeating-linear-gradient(to bottom,#000 0,#000 50%,transparent 50%,transparent 100%);
    background-position: left top,left bottom,left top,right top;
    background-repeat: repeat-x,repeat-x,repeat-y,repeat-y;
    background-size: 6px 0,6px 2px,0 6px,0 6px;
    margin-left: 10px;
    position: relative;
    top: 1px;
}

.wrap-slider-gallery-pl{
    padding: 0 15px;
}
.wrap-slider-gallery-pl .slick-list{
    margin: 0 -3px;
}
.wrap-slider-gallery-pl .list-slide-gallery-pl{
    width: 100%;
}
.wrap-slider-gallery-pl .list-slide-gallery-pl .item-gallery-pl {
    margin: 0 3px;
    height: 100px;
    border: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.wrap-slider-gallery-pl .list-slide-gallery-pl .item-gallery-pl .pic-info-slide{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    height: 100%;
}
.wrap-slider-gallery-pl .list-slide-gallery-pl .item-gallery-pl img{
    max-height: 100px;
    max-width: 100px;
    margin: auto;
}
.list-slide-gallery-pl .slick-prev{
    left: -20px;
}
.list-slide-gallery-pl .slick-next{
    right: -20px;
}
.list-slide-gallery-pl .slick-prev:before,
.list-slide-gallery-pl .slick-next:before{
    font-family: inherit;
    display: inline-block;
    content: '';
    color: #000;
    border-width: 0 0 2px 2px;
    border-style: solid;
    width: 10px;
    height: 10px;
}
.list-slide-gallery-pl .slick-prev:before{
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.list-slide-gallery-pl .slick-next:before{
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

/*===Area Check Booking  ===*/
.wrap-shop-list-check-booking .area-name{
    border-radius: 50px;
    height: 25px;
    border: 2px solid #000;
    font-size: 13px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
    font-weight: bold;
    line-height: 1;
}
.wrap-shop-list-check-booking .area-name .name-en-area{
    font-size: 9px;
    font-weight: normal;
    margin-left: 5px;
}
.wrap-shop-list-check-booking .list-check-booking{
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -10px;
}
.wrap-shop-list-check-booking .list-check-booking .box-area-opt{
    width: calc(100% * (1/2) - 10px);
    margin: 0 0 10px 10px;
}
.wrap-shop-list-check-booking .list-check-booking .box-area-opt .sub-list-check-booking.other{
    margin-top: 40px;
}
.wrap-shop-list-check-booking .list-check-booking .sub-list-check-booking .sub-item-check-booking {
    background-color: rgba(248,168,140, 0.16);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    margin-bottom: 3px;
}
.wrap-shop-list-check-booking .list-check-booking .sub-list-check-booking .sub-item-check-booking .hidden{
    display: none;
}
.wrap-shop-list-check-booking .list-check-booking .sub-list-check-booking .sub-item-check-booking .info-choose-shop{
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 7px;
    cursor: pointer;
    letter-spacing: 1px;
    padding-left: 5px;
    height: 25px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.wrap-shop-list-check-booking  .sub-list-check-booking {
    padding: 0 5px;
}
.wrap-shop-list-check-booking .list-check-booking .sub-list-check-booking .sub-item-check-booking .group-new-icon{
    margin: 0 5px 0 5px;
}
.wrap-shop-list-check-booking .list-check-booking .sub-list-check-booking .sub-item-check-booking .group-new-icon .new-shop-text{
    color: #d95417;
    font-size: 7px;
    font-weight: bold;
    margin-right: 5px;
}
.wrap-shop-list-check-booking .list-check-booking .sub-list-check-booking .sub-item-check-booking .group-new-icon .arrow {
    width: 15px;
    height: 1px;
    background-color: #f8a88c;
    position: relative;
    display: inline-block;
}
.wrap-shop-list-check-booking .list-check-booking .sub-list-check-booking .sub-item-check-booking .group-new-icon .arrow:after {
    background-color: #f8a88c;
    content: '';
    position: absolute;
    right: 0;
    bottom: 2px;
    width: 5px;
    height: 1px;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
}
/* .wrap-reservation-check-booking */
.wrap-reservation-check-booking .wrap-grid-booking{
    padding: 0;
    margin: 0;
    border: none;
}
.wrap-choose-date .dropdown-choose-grid{
    padding: 0 18px;
}
.wrap-choose-date .dropdown-choose-grid .text-date-choosed {
    padding: 0;
    border: none;
}
.wrap-reservation-check-booking .wrap-grid-booking-inner{
    margin-bottom: 30px;
}
.wrap-reservation-check-booking .wrap-btn-v2{
    margin-bottom: 135px;
}
.wrap-reservation-check-booking .text-above-grid-booking{
    font-size: 16px;
    line-height: 1.8;
}
.wrap-reservation-check-booking .wrap-choose-date .dropdown-choose-grid .text-date-choosed{
    width: 100%;
    padding: 3px 10px;
    font-size: 19px;
    font-weight: bold;
    border: 1px solid #909090;
    margin-left: 10px;
    letter-spacing: 2px;
}
.wrap-reservation-check-booking .wrap-choose-date .title-choose{
    height: 31px;
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 5px;
}
.wrap-reservation-check-booking .wrap-choose-info-check-booking{
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.wrap-booking-content .wrap-reservation-check-booking .wrap-choose-info{
    border-bottom: none;
    padding: 0;
}
.wrap-reservation-check-booking .wrap-grid-booking-inner .paged #page-pre:before,
.wrap-reservation-check-booking .wrap-grid-booking-inner .paged #page-next:before{
    width: 0;
    height: 0;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    display: inline-block;
    border-style: none;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    top: 0;
}
.wrap-reservation-check-booking .wrap-grid-booking-inner .paged #page-next{
    padding-right: 17px;
    font-size: 13px;
}
.wrap-reservation-check-booking .wrap-grid-booking-inner .paged #page-pre{
    padding-left: 17px;
    font-size: 13px;
}
.wrap-reservation-check-booking .wrap-grid-booking-inner .paged #page-pre:before{
    border-right: 11px solid #674e9f;
    top: 4px;
}
.wrap-reservation-check-booking .wrap-grid-booking-inner .paged #page-next:before{
    border-left: 11px solid #674e9f;
    top: 4px;
}

.wrap-reservation-check-booking .wrap-grid-booking-inner table,
.wrap-reservation-check-booking .wrap-grid-booking-inner table td{
    border: 1px solid #fff;
}
.wrap-reservation-check-booking .wrap-grid-booking-inner table .thead td{
    background-color: #b48c00;
    border-right: 1px;
}
.wrap-reservation-check-booking .wrap-grid-booking-inner table .time-hour{
    color: #909090;
    font-size: 17px;
    border-bottom: 1px solid #fff;
}
.wrap-reservation-check-booking .wrap-grid-booking-inner table .odd .time-hour{
    background-color: rgba(180,140,0,0.2);
}
.wrap-reservation-check-booking .wrap-grid-booking-inner .th-display-hour-wrapper{
    color: #595959;
}
.wrap-reservation-check-booking .wrap-grid-booking-inner table .even .time-hour{
    background-color: rgba(180,140,0,0.35);
}
.wrap-reservation-check-booking .wrap-grid-booking-inner table .price-follow-hour{
    display: block;
    border: none;
    font-size: 12px !important;
    background-color: #909090;
    color: #fff;
    width: 80%;
    letter-spacing: 1px;
    padding: 3px;
    line-height: 1;
}
.wrap-reservation-check-booking .wrap-grid-booking-inner table .price-follow-hour br{
    display: none;
}
.wrap-reservation-check-booking .new-reserve-status .wrap-grid-booking-inner table td span{
    font-size: 20px;
    font-weight: bold;
}
.wrap-reservation-check-booking .new-reserve-status .wrap-grid-booking-inner table .thead span{
    font-size: 14px;
    font-weight: normal;
}
.wrap-reservation-check-booking .wrap-grid-booking-inner table tbody .odd td{
    background-color: rgba(180,140,0,0.05);
}
.wrap-reservation-check-booking .wrap-grid-booking-inner table tbody .even td{
    background-color: rgba(180,140,0,0.1);
}
.wrap-reservation-check-booking .wrap-grid-booking-inner table .thead td.sat{
    background-color: #3479b5;
    color: #fff;
}
.wrap-reservation-check-booking .wrap-grid-booking-inner table .thead td.sun{
    background-color: #d95417;
    color: #fff;
}
.wrap-reservation-check-booking .wrap-grid-booking-inner table tbody td{
    color: #595959;
}
.wrap-reservation-check-booking .wrap-grid-booking-inner table tbody tr.thead td{
    color: #fff;
}
.wrap-reservation-check-booking .wrap-grid-booking-inner table tbody td.sat{
    color: #3479b5;
}
.wrap-reservation-check-booking .wrap-grid-booking-inner table tbody td.sun{
    color: #d95417;
}
.wrap-reservation-check-booking .wrap-grid-booking-inner table .thead td.sat,
.wrap-reservation-check-booking .wrap-grid-booking-inner table .thead td.sun {
    border-color: #fff;
}
.wrap-reservation-check-booking .wrap-grid-booking-inner table tbody td.sat{
    background-color: #f5f8fb;
}
.wrap-reservation-check-booking .wrap-grid-booking-inner table tbody td.sun{
    background-color: #fdf6f4;
}
.wrap-reservation-check-booking .wrap-grid-booking-inner table tbody .odd td.sat{
    background-color: rgba(52,121,181,0.05);
}
.wrap-reservation-check-booking .wrap-grid-booking-inner table tbody .even td.sat{
    background-color: rgba(52,121,181,0.1);
}
.wrap-reservation-check-booking .wrap-grid-booking-inner table tbody .odd td.sun{
    background-color: rgba(217,84,23,0.05);
}
.wrap-reservation-check-booking .wrap-grid-booking-inner table tbody .even td.sun{
    background-color: rgba(217,84,23,0.1);
}
.wrap-reservation-check-booking .wrap-title-v2{
    margin-bottom: 30px;
}
.wrap-reservation-check-booking .text-above-grid-booking {
    font-size: 13px;
    line-height: 1.8;
    padding: 15px;
    letter-spacing: unset;
}
.wrap-choose-info-check-booking .title-choose:before{
    content: '';
    width: 16px;
    height: 16px;
    margin-right: 5px;
    background-color: #3f3f3f;
    margin-top: 2px;
}
.wrap-choose-info-check-booking .wrap-choose-date{
    margin-bottom: 10px;
}
.wrap-choose-info-check-booking  .des-notify{
    font-size: 13px;
}
.wrap-btn-checkbooking .arrow{
    width: 20px;
    height: 1px;
    background-color: #000;
    position: relative;
    display: inline-block;
    top: -5px;
    left: 50px;
}
.wrap-btn-checkbooking .arrow:after{
    background-color: #000;
    content: '';
    position: absolute;
    right: -1px;
    bottom: 3px;
    width: 9px;
    height: 1px;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
}
.wrap-btn-checkbooking .btn-checkbooking-new{
    background-color: #fff;
    border: 2px solid #000;
    color: #000;
    font-weight: bold;
    font-size: 16px;
}
.wrap-grid-checkbooking .wrap-cb-title{
    margin-bottom: 0;
}