.footer-landing-page{
    background: #efefef;
    padding-top: 40px;
}
.footer-landing-page .list-footer-ldp {
    margin: 0 0 25px -20px;
}
.footer-landing-page .list-footer-ldp .item-footer-ldp.first {
    width: 40%;
}
.footer-landing-page .item-footer-ldp {
    margin-left: 20px;
}
.footer-landing-page .item-footer-ldp:nth-child(3){
    margin-left: 30px;
}
.footer-landing-page .item-footer-ldp .wrap-section-list-ldp:nth-child(1){
    margin-bottom: 50px;
}
.footer-landing-page  .title-footer-ldp {
    font-size: 16px;
    font-weight: bold;
    color: #5e5e5e;
    line-height: 1;
    margin-bottom: 25px;
}
.footer-landing-page .sub-list-footer-ldp .sub-item-footer-ldp .link-to {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
    display: block;
    line-height: 1;
}
.footer-landing-page .sub-list-footer-ldp .list-area-ldp {
    flex-wrap: wrap;
    margin-bottom: 25px;
    line-height: 1.5;
}
.footer-landing-page .sub-list-footer-ldp .list-area-ldp .item-area-ldp {
    display: flex;
    align-items: center;
}
.footer-landing-page .sub-list-footer-ldp .list-area-ldp .item-area-ldp > a{
    font-size: 13px;
    letter-spacing: 1px;
}
.footer-landing-page .sub-list-footer-ldp .list-area-ldp .item-area-ldp:before {
    content:"•";
    font-size: 8px;
    padding-right: 8px;
}
.footer-landing-page .sub-list-footer-ldp .list-area-ldp .item-area-ldp.first{
    padding-right: 18px;
    line-height: 2;
}
.footer-landing-page .wrap-section-list-ldp .wrap-lang-social {
    margin-left: 0;
}
.footer-landing-page .wrap-section-list-ldp .wrap-lang-social .social:not(:first-child){
    margin-left: 20px;
}
.footer-landing-page .img-ldp-social {
    width: 42px;
}
.footer-ldp-bottom {
    background-color: #935191;
}
.footer-ldp-bottom .logo-formal {
    width: 350px;
    margin: 0 auto 10px auto;
}
.footer-ldp-bottom .footer-copyright {
    display: flex;
    justify-content: center;
}
.footer-ldp-bottom .wrap-logo-text-ft {
    padding: 22px;
}
.footer-ldp-bottom .footer-copyright .copyright-text {
    color: white;
    font-size: 16px;
}
.footer-ldp-bottom .sub-list-footer-ldp{
    font-size: 14px;
}
.wrap-section-list-ldp.bottom .sub-list-footer-ldp .sub-item-footer-ldp:not(:first-child){
    margin-left: 25px;
}
.btn-bottom{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 5px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    line-height: 1.5;
    -webkit-box-shadow: 5px 5px 2px -1px rgba(221, 158, 158, 0.7);
    box-shadow: 5px 5px 2px -1px rgba(221, 158, 158, 0.7);
    background-color: #C1272D;
    color: #fff;
    z-index: 100;
}
.btn-bottom .icon{
    background: url(../../../../../images/landing-page/sprite-btn-bottom.svg) no-repeat;
    background-size: cover;
    background-position: 0px -48px;
    width: 35px;
    height: 35px;
    margin-bottom: 8px;
}
.btn-bottom .txt{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.5;
}
.btn-bottom .txt .sm-txt{
    font-size: 11px;
    margin-bottom: 4px;
}
.btn-bottom .txt .lg-txt{
    font-size: 18px;
    font-weight: bold;
    position: relative;
}
.btn-bottom .lg-txt:after{
    content: '';
    position: absolute;
    right: -12px;
    top: 0;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 21 17' style='enable-background:new 0 0 21 17;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23FFFFFF;%7D%0A%3C/style%3E%3Cg%3E%3Crect x='7.9' y='2.7' transform='matrix(0.8144 0.5803 -0.5803 0.8144 6.5175 -3.617)' class='st0' width='2' height='11.5'/%3E%3Crect x='13.5' y='7.5' transform='matrix(0.3711 0.9286 -0.9286 0.3711 21.3439 -5.148)' class='st0' width='2' height='11.5'/%3E%3Crect x='0.9' y='0.1' transform='matrix(0.987 0.1608 -0.1608 0.987 0.9595 -0.2287)' class='st0' width='2' height='11.5'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    width: 18px;
    height: 10px;
}