.breadcrumbs-formal .item, .breadcrumbs-formal a,
.breadcrumbs-formal span,
.breadcrumbs-formal .separator{
    color: #976686;
}
.breadcrumbs-formal .item.active, .breadcrumbs-formal .breadcrumb_last {
    color: #510035;
}
.wrap-formal-product-confirm .product-selected{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-left: -50px;
}
.product-selected .wrap-info-formal{
	width: calc(100% * 1/2 - 50px);
	margin: 0 0 30px 50px;
}
.wrap-formal-product-confirm .product-selected .list-confirm-info {
	padding: 20px 15px;
}
.wrap-formal-product-confirm .info-confirm .list-confirm-info {
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-left: -50px;
}
.product-selected .list-confirm-total-price{
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.list-confirm-info li{
	line-height: 1;
}
.title-general .text-tstep-booking{
	font-weight: bold;
}
.wrap-formal-product-confirm .list-confirm-info .item-confirm-info{
	border-bottom: 2px dotted #919191;
	padding: 5px;
	margin: 0 0 20px 50px;
	width: calc(100% * 1/2 - 50px);
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.applied-coupons.list-confirm-info + .list-confirm-info .item-confirm-info {
    border-top: 0 !important;
}
.info-confirm .list-confirm-info .item-confirm-info{
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}
.info-confirm .list-confirm-info .item-confirm-info.last{
	border-bottom: none;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
    padding: 0;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}
.list-confirm-info .item-confirm-info .info-left{
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 7px;
}
.list-confirm-info .item-confirm-info .info-right{
	font-size: 20px;
}
.btn-change-confirm-general{
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.btn-change-confirm{
	background-color: #d6d6d6;
	font-size: 13px;
	padding: 10px 15px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 1;
}
.btn-change-confirm-pc{
	display: none;
}
.wrap-title-formal-confirm{
	display: none;
}
.wrap-formal-product-confirm .wrap-info-formal-general{
	margin-top: 40px;
	color: #3D3D3D;
}
.wrap-info-formal-general .title-selected{
	border-bottom: 1px solid #919191;
	padding-bottom: 15px;
	font-size: 13px;
	margin-bottom: 20px;
	line-height: 1;
}
.wrap-info-formal-general .wrap-info-formal .img-formal-confirm{
	text-align: center;
	width: 30%;
}
.wrap-info-formal-general .wrap-info-formal .img-formal-confirm .wrap-pic-confirm{
	margin-bottom: 10px;
	border: 1px solid #4E0037;
}
.box-info-confirm .wrap-info-formal-general .wrap-info-formal{
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-bottom: 50px;
}
.wrap-info-formal-general .wrap-info-formal:nth-child(odd) .wrap-list-confirm-info{
	border: 1px solid #ffbfaa;
}
.wrap-info-formal-general .wrap-info-formal:nth-child(even) .wrap-list-confirm-info{
	border: 1px solid #c1a530;
}
.box-info-confirm .wrap-info-formal-general .wrap-info-formal
.box-info-confirm .wrap-info-formal-general .wrap-info-formal
.btn-change-img-confirm{
	font-size: 11px;
	display: block;
}
.list-confirm-info .item-total-price p{
	line-height: 1;
}
.list-confirm-info .name-formal-confirm,
.list-confirm-info .price-formal-confirm{
	font-size: 16px;
}
.price-formal-confirm var{
	margin-left: 3px;
	font-size: 13px;
}
.list-confirm-info .item-total-price .name-formal-confirm{
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}
.list-confirm-info .item-total-price:nth-child(3) .name-formal-confirm{
	-webkit-box-flex: initial;
	-ms-flex: initial;
	flex: initial;
	font-weight: bold;
}
.list-confirm-info .item-total-price .price-formal-confirm{
	margin-left: 10px;
}
.wrap-info-formal .list-confirm-info .item-total-price-double{
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.wrap-formal-product-confirm .wrap-list-confirm-info{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-flex:1;
	-ms-flex:1;
	flex:1;
	margin-bottom: 20px;
}
.wrap-info-formal .list-confirm-info .item-total-price-last{
	margin-bottom: 14px;
}
.wrap-info-formal .list-confirm-info .item-total-price-border{
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	padding-bottom: 10px;
	border-bottom: 2px dotted #000;
}
.wrap-info-formal .list-confirm-info .item-total-price-border:last-child{
	padding: 8px 0 15px 0;
}
.reservation-total{
	padding: 20px 0 20px 10px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 100%;
	margin-bottom: 50px;
	border-bottom: 2px dotted #000;
}
.reservation-total .prices-wrapper{
	width: 100%;
}
.coupon-input-wrapper, .points-input-wrapper {
	margin: 0 0 20px;
}
.coupon-input-toggle-wrapper, .points-input-toggle-wrapper{
	display: none;
	margin-top: 10px;
}
.coupon-toggle-control, .points-toggle-control{
	color: cornflowerblue;
	font-weight: bold;
	text-decoration: underline !important;
}
.reservation-total .name-formal-confirm{
	font-size: 20px;
	font-weight: bold;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.takuhai-confirm-wrap .reservation-total .name-formal-confirm{
	margin: 0;
}
.takuhai-confirm-wrap .title-selected{
	font-weight: bold;
	font-size: 16px;
	margin: 10px 0 20px 0;
}
.takuhai-confirm-wrap .list-confirm-info .item-confirm-info{
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.takuhai-confirm-wrap .list-confirm-info .item-confirm-info .info-left,
.takuhai-confirm-wrap .list-confirm-info .item-confirm-info .info-right{
	/*width: auto;*/
}
.takuhai-confirm-wrap .list-confirm-info .item-total-price .name-formal-confirm{
	min-width: 100px;
	-webkit-box-flex: initial;
	    -ms-flex: initial;
	        flex: initial;
}
.takuhai-confirm-wrap .list-confirm-info .item-total-price p{
	line-height: 1.3;
}
.wrap-info-formal .reservation-total .name-formal-confirm-total{
	font-size: 13px;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	font-weight: bold;
}
.list-confirm-info .item-total-price .name-formal-confirm-total{
	font-size: 13px;
}
.list-confirm-info .item-total-price .price-final-confirm{
	font-size: 17px;
	color: #E50011;
}

/*  campaign fee formal */
.wrap-early-fee-fm .name-formal-confirm,
.wrap-early-fee-fm .price-formal-confirm{
	font-size: 11px;
}
.wrap-early-fee-fm span.total_early_fee.red{
	padding-right: 0;
}
.wrap-early-fee-fm .price-formal-confirm{
	font-size: 13px;
	font-weight: normal;
}
.wrap-form-formal{
	padding-bottom: 25px;
	margin-bottom: 30px;
}
.wrap-form-formal:after{
	content: "";
	display: block;
}
.wrap-form-formal-general .wrap-ctm-info{
	background-color: #f6f6f6;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.wrap-form-formal .list-form-formal{
	width: 100%;
	padding: 25px 20px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-left: -20px;
}
.wrap-form-formal .list-confirm-info .item-form-formal {
	font-size: 18px;
	line-height: 1.3;
}
.wrap-form-formal .list-confirm-info .item-form-formal{
	margin: 0 0 20px 20px;
	width: calc(100% * 1/2 - 20px);
}
.wrap-form-formal .list-confirm-info .item-form-formal .form-element-left{
	width: 40%;
}
.wrap-form-formal .list-confirm-info .item-form-formal .form-element-right{
	width: 60%;
	padding-right: 10px;
}
.wrap-btn-confirm{
	margin: 0 auto;
	width: 75%;
}
.wrap-btn-confirm button:first-child{
	margin-right: 30px;
}
.wrap-btn-confirm .btn-confirm-next:disabled {
	background: rgba(210,0,62,0.3);
	cursor: no-drop;
}
.wrap-btn-confirm button{
	border: none;
	outline: none;
}
.btn-confirm-next{
	margin-bottom: 20px;
}
.wrap-form-formal .list-confirm-info .item-form-formal .form-element-left {
	font-weight: bold;
}
.list-confirm-info .item-total-price .name-formal-confirm-bold{
	font-weight: bold;
}
/* Begin takuhai cart confirm*/
.wrap-btn-confirm button{
	margin-right: 2px;
}
.wrap-btn-confirm .cart-note{
	color: #ff0000;
}
/* End takuhai cart confirm*/
.errorSummary {
	border: 1px solid;
	color: red;
	padding: 10px;
	margin-bottom: 30px;
}
.errorSummary li {
	padding: 5px 0 5px 10px;
}
.reservation-total .price-item {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.reservation-total .redeemed-points + .price-item{
	margin-bottom: 15px;
}
.reservation-total .redeemed-points + .price-item .name-formal-confirm{
	font-size: 24px;
}
.reservation-total .price-item .price{
	font-size: 25px;
}
.reservation-total .price-item:last-child{
	color: #bf0000;
	margin-top: 15px;
}
.reservation-total .price-item:last-child .name-formal-confirm{
	font-size: 24px;
}
.reservation-total .price-item .price-formal-confirm{
	font-size: 35px;
}
.coupon_code, .points_input {
	padding: 10px;
	outline: none;
	font-size: 11px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 120px;
}
.apply_coupon_btn, .redeem_points_btn {
	padding: 10px;
	background-color: cornflowerblue;
	margin-left: 10px;
    max-width: 200px;
}
.wrap-content-fm-howto .title-content-fm-howto {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: #e2e2e2;
	padding: 0 6px;
	height: 53px;
	margin: 13px 0
}

.wrap-content-fm-howto .title-content-fm-howto h2 {
	font-size: 13px;
	margin-left: 7px
}

.wrap-content-fm-howto .title-content-fm-howto .number-title-fm-howto {
	font-size: 17px;
	width: 29px;
	height: 29px;
	line-height: 30px;
	text-align: center;
	background-color: #5d5d5d;
	color: #fff;
	margin-left: 13px;
	font-family: HiraKakuProN
}

.wrap-content-fm-howto .wrap-info-article-fm-howto {
	border-left: 1px solid
}

.wrap-content-fm-howto .wrap-info-article-fm-howto .content-fm-howto {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 15px 0 15px 25px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box
}

.wrap-content-fm-howto .content-fm-howto .text-fm-howto {
	padding: 15px 0 15px 0;
	font-size: 12px;
	line-height: 2;
}
.title-content-fm-howto .icon-formal-cancel,.title-content-fm-howto .icon-formal-contamination {
	font-size: 30px;
	text-align: center;
	margin-left: 13px;
	margin-bottom: -7px
}

.title-content-fm-howto .icon-formal-cancel {
	font-size: 26px
}
.margin-bottom-howto {
	margin-bottom: 30px;
}

.text-fm-howto-new p {
	line-height: 1.4;
}
.wrap-content-fm-howto .wrap-info-article-fm-howto {
	margin: 25px 0
}
.coupon_code {
	padding: 10px;
	outline: none;
	font-size: 11px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.apply_coupon_btn {
	padding: 10px;
	background-color: cornflowerblue;
	margin-left: 10px;
    max-width: 200px;
}
.payment-note {
	color: red;
	font-size: 16px;
}
.earned-point-notice {
	padding: 0 10px 20px;
}
.payment-note {
	color: red;
	font-size: 16px;
}
.wrap-formal-product-confirm.new-kimono-product-confirm .notice-payment-method{
	color: red;
	font-size: 16px;
	font-weight: bold;
	border: 2px solid red;
	padding: 10px 24px;
	margin-bottom: 20px;
	letter-spacing: 0.1em;
}
.btn-change-payment-method{
	margin: 30px auto 0 auto;
    font-size: 16px;
    cursor: pointer;
    max-width: 120px;
}
.order-detail .discount-input-wrapper{
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
}
.order-detail .method-label {
    width: 45%;
    font-size: 13px;
    font-weight: bold;
}
.order-detail .method-name {
    width: 75%;
}
.align-items-start{
	-webkit-box-align: flex-start !important;
	-ms-flex-align: flex-start !important;;
	align-items: flex-start !important;;
	-webkit-align-items: flex-start !important;;
}
.admin-custom-booking .campaign-list span{
	margin-left: 0;
}
.admin-custom-booking .campaign-list .campaign-name{
	min-width: 100px;
	display: inline-block;
}
/*Takuhai table*/
.takuhai-table .item{
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.takuhai-table .item .tag-time:empty{
    padding: 0;
}
.takuhai-table .item:not(:last-child){
    border-right: 1px dashed #000;
}
.takuhai-table .item .tag-time{
    color: #fff;
    background-color: #9e9e9f;
    padding: 6px;
    border-radius: 30px;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 11px;
}
.takuhai-table .item .txt-time{
    font-weight: bold;
    font-size: 13px;
}
.takuhai-table-cart{
    padding: 15px 5px;
    background-color: #fff6a9;
    border-radius: 10px;
    border: 1px solid #a0a0a0;
}
.takuhai-table-cart .item .tag-time{
    width: 70%;
    text-align: center;
}
.credit-form .wrap-btn-confirm {
    background: #fff;
}
.info-confirm .confirm-title{
	margin-bottom: 50px;
}
.confirm-title{
	background-color: #474747;
	color: #fff;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	padding: 15px;
}
.wrap-info-formal .person-opt-heading{
	padding: 12px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: #fff;
	font-size: 20px;
}
.person-opt-heading .icon{
	margin-right: 10px;
}
.person-opt-heading .icon:before{
	display: inline-block;
	content: '';
	background: url(../../../../../images/new-kimono/sprite-icon-opt.svg) no-repeat;
    background-size: 30px;
    width: 30px;
    height: 28px;
}
.wrap-info-formal-general .wrap-info-formal:nth-child(odd) .person-opt-heading{
	background-color: #ffbfaa; 
}
.wrap-info-formal-general .wrap-info-formal:nth-child(even) .person-opt-heading{
	background-color: #c1a530; 
}
.wrap-info-formal:nth-child(odd) .plan-name,
.wrap-info-formal:nth-child(odd) .item-total-price-double .item-double{
	border-bottom: 1px solid #ffbfaa; 
}
.wrap-info-formal:nth-child(even) .plan-name,
.wrap-info-formal:nth-child(even) .item-total-price-double .item-double{
	border-bottom: 1px solid #c1a530; 
}
.list-confirm-info .plan-name,
.list-confirm-info .item-total-price .item-double {
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.plan-name .name-formal-confirm{
	font-weight: bold;
}
.plan-name .name-formal-confirm{
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.product-selected .list-confirm-total-price .plan-name .price-formal-confirm{
	font-size: 22px;
}
.product-subtotal-price{
	width: 100%;
}
.list-confirm-info .item-total-price .product-subtotal-price .price-formal-confirm{
	font-size: 30px;
}
.book-options{
	border: 1px solid #e9e1d1;
	padding-bottom: 15px;
}
.book-options .box-heading{
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	background-color: #e9e1d1;
	padding: 12px;
}
.book-options .list-options {
	padding: 20px 8px 5px 8px;
}
.book-options .list-options .item-group-options{
	border-bottom: 1px solid #e9e1d1;
	padding-bottom: 10px;
	margin-bottom: 10px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.book-options .list-options .item-group-options .title-option{
	line-height: 1;
	font-size: 14px;
	margin-bottom: 5px;
}
.book-options .list-options .item-group-options .sub-book-options{
	padding-left: 10px;
}
.book-options .sub-book-options .wrap-item-option{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	font-size: 13px;
}
.book-option-cost{
	padding: 0 8px;
}
.book-option-cost .left{
	font-weight: bold;
	font-size: 13px;
}
.book-option-cost .right{
	font-size: 20px;
	color: #cf0000;
}
.book-option-cost .right var{
	font-size: 11px;
}
