.widget-top-shoplist .list-shoplist-wg .item-shoplist-wg .text-shop-wg .title-shopname-wg{
    letter-spacing: 3px;
}
.section-shop-list .list-shop-list .box-info .wrap-btn-shop-list a p{
    font-size: 11px;
}
.section-photo-instagram .wrap-title-slider-gallery .wrap-content-right{
    background-size: 195px 60px;
    height: 60px;
}
.section-photo-instagram .wrap-title-slider-gallery .title-left{
    font-size: 12px;
}
.section-photo-instagram .wrap-title-slider-gallery .wrap-content-right .text-content-right{
    font-size: 12px;
    top: -10px;
}
.sub-title-spot-ranking{
    font-size: 10px;
}
.box-intro-bottom .title-intro-bottom{
    font-size: 15px;
}