.widget-top-shoplist .list-shoplist-wg .item-shoplist-wg .text-shop-wg .title-shopname-wg{
    letter-spacing: 3px;
}
.section-photo-instagram .wrap-title-slider-gallery .wrap-content-right .text-content-right{
    top: -22px;
    left: 2px;
}
.section-shop-list .list-shop-list .box-info .wrap-btn-shop-list a p{
    font-size: 13px;
}
