.title-girl-contest{
    padding: 10px 0 10px;
}
.wraper-intro-contest .intro-contest .intro-contest-content .lg-text{
    font-size: 35px;
}
.wraper-intro-contest .intro-contest .intro-contest-content .sm-text span{
    font-size: 24px;
}