/*lettter-spacing*/
*{letter-spacing: 0 !important}
/*Custom css for multilang*/
.right-column-asakusa,
.wrap-top-plan-circle-fm-v2 .list-scene-v2 .item-scene-v2 .inside-circle .num-circle{
    font-family: Arial, Helvetica, sans-serif;
}
.okinawa-naha .wrap-shop-intro .intro-title{
    font-size: 15px;
}
.wrap-shop-intro .intro-title:before,
.wrap-shop-intro .intro-title:after{
    width: 60px;
    height: 60px;
}
.wrap-top-plan-circle-fm-v2 .list-scene-v2 .item-scene-v2 .inside-circle .num-circle{
    font-size: 12px;
}
.wrap-top-plan-circle-fm-v2 .list-scene-v2 .item-scene-v2.color-circle-03 .num-circle-1{
    font-size: 13px;
}
.plan-info .plan-name{
    font-size: 20px;
}
.osaka-shinsaibashi-opa .section-banner-photo-session.asakusa .wrap-title-v2 .lbl-title,
.wrap-title-v2 .lbl-title{
    font-size: 18px;
}
.section-banner-photo-session .des-photo-session{
    font-size: 13px;
}
.wrap-title-ginza-store .sm-title,
.list-ginza-store .item-ginza-store .info .lbl-name-store{
    font-size: 15px;
}
.kurashiki .box-intro-bottom .title-intro-bottom{
    text-align: center;
    line-height: 1.5;
}
.items-option-detail-new{
    width: calc(100% * (1/3) - 8px);
}
.wrap-blog-shop-fm-v2.ginza-honten{
    margin-bottom: 50px;
}
.list-option-detail-new-machi .text-link,
.list-content-spots .text-content-spots{
    font-size: 12px;
    line-height: 1.3;
}
.list-option-new-shop-second .items-text-detail-new{
    padding: 4px 10px;
}
.wrap-blog-shop-fm-v2 .sub-item-info .name{
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}
.wrap-spots-shop-fm-v2.asakusa ul.list-content-spots .item-content-spots .text-content-spots .title-text{
    font-size: 15px;
    white-space: normal;
    line-height: 1.3;
}
.content-reason .including-average{
    line-height: 1.5;
}
.osaka-shinsaibashi-opa .notes-bottom,
.notes-bottom{
    font-size: 11px;
}
.wrap-bt-set .bt-set .text-name-set{
    width: auto
}
.list-reason .item-reason .title-item-reason{
    height: 105px;
}
.wrap-reason-choose-fm-v2.asakusa .text-reason-03,
.detail-link{
    font-size: 12px;
}
.wrap-reason-choose-fm-v2.asakusa .wrap-text-reason-03-right .inner .price{
    font-size: 47px;
}
.list-step-date .note-date:before,
.list-step-date .note-date:after{
    height: 20px;
}
.list-step-date .note-date:before{
    left: 6px;
    bottom: -7px;
}
.list-step-date .note-date:after{
    right: -6px;
    bottom: -7px;
}
.list-step-num .item-step-num .des-sm-circle{
    white-space: nowrap;
}
.osaka-shinsaibashi-opa .wrap-shop-intro .intro-title{
    font-size: 20px;
}
.wrap-shop-intro p{
    font-size: 13px;
}
.osaka-shinsaibashi-opa .wrap-top-plan-circle-fm-v2.asakusa .wrap-text-scene-above{
    font-size: 17px;
}
.wrap-top-plan-circle-fm-v2.asakusa .wrap-text-scene-above .text-left{
    margin-right: 10px;
}
.items-text-detail-new-first,
.wrap-spots-shop-fm-v2 .title-small-spots,
.osaka-shinsaibashi-opa .btn-v2 .text-link{
    font-size: 14px;
}
.btn-v2 .text-link{
    padding-left: 0;
}
.wrap-google-map-fm-v2 .list-option-new-other .items-option-detail-new .items-text-detail-new{
    font-size: 12px;
}
.osaka-shinsaibashi-opa .wrap-title-v2 .lbl-title,
.osaka-shinsaibashi-opa .wrap-gallery-shop-fm-v2 .wrap-title-v2 .lbl-title{
    font-size: 19px;
}
.kurashiki .box-intro-bottom .title-intro-bottom{
    font-size: 15px;
}
.list-option-detail-new{
    margin-right: -5px;
}
.items-option-detail-new{
    width: calc(100% * (1/3) - 5px);
    margin: 0 0 5px 5px;
}
.items-text-detail-new{
    padding: 5px;
    font-size: 11px;
}
.list-option-detail-new-machi .text-link-small{
    font-size: 11px;
    line-height: 1.3;
}
.plan-desc,
.list-content-spots .text-content-spots,
.list-access-shop .des-access-shop .text-access-shop,
.osaka-shinsaibashi-opa .content-reason .including-info,
.section-topics .list-sec-banner-general .item-sec-banner .des-sec-banner,
.kurashiki .box-intro-bottom .des-intro-bottom,
.content-reason .including-average,
.osaka-shinsaibashi-opa .including-info p,
.osaka-shinsaibashi-opa .notes-more p,
.osaka-shinsaibashi-opa .notes-bottom,
.wrap-blog-shop-fm-v2 .sub-item-info .link-to{
    font-size: 13px;
    line-height: 1.5;
}
.section-topics .list-sec-banner-general .item-sec-banner{
    margin-bottom: 20px;
}
.section-topics .list-sec-banner-general .item-sec-banner .link-page-banner img{
    margin-bottom: 5px;
}
.wrap-shop-intro .intro-title:before{
    left: 0;
}
.wrap-shop-intro .intro-title:after{
    right: 0;
}
.plan-info .wrap-btn a{
    font-size: 15px;
}
.wrap-reason-choose-fm-v2.asakusa .list-including .item-including-other .des-sub-including{
    font-size: 11px;
}
.osaka-shinsaibashi-opa .osaka-bg-blue{
    font-size: 12px;
}
/*===shinjuku-station===*/
.shinjuku-station .wrap-top-plan-circle-fm-v2.shinjuku-station .wrap-scene-btn a {
    background-size: 100%;
    background-position: 0 30px;
    height: 100px;
}
.shinjuku-station .wrap-top-plan-circle-fm-v2.asakusa.shinjuku-station .list-scene-v2 .item-scene-v2.color-circle-03 .num-circle-1{
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
}
.shinjuku-station .list-ginza-store .item-ginza-store .info .lbl-name-store {
    height: 30px;
}
.shinjuku-station .wrap-spots-shop-fm-v2.asakusa .title-big-spots{
    text-align: center;
}
.shinjuku-station .wrap-spots-shop-fm-v2 .wrap-des-spots{
    text-align: left;
}
.shinjuku-station .wrap-blog-shop-fm-v2 .wrap-title-v2 .des-sm-title {
    margin-left: 5px;
}
.shinjuku-station .wrap-btn-v2 .btn-v2 a,
.shinjuku-station .wrap-btn-v2 .btn-v2-reserve{
    font-size: 15px;
}
.shinjuku-station .wrap-shop-intro .intro-title{
    font-size: 18px;
}
/*===sapporo-susukinostation===*/
.sapporo-susukinostation .wrap-group-plan-item-other .name-box-pl {
    font-size: 17px;
}
.sapporo-susukinostation .list-content-spots .text-content-spots{
    font-size: 12px;

}
.sapporo-susukinostation .wrap-google-map-fm-v2 .list-option-new-other .items-option-detail-new .items-text-detail-new {
    min-height: 32px;
}
/*kurashiki*/
.kurashiki .wrap-shop-intro .intro-title {
    font-size: 20px;
}
.kurashiki .list-option-detail-new-machi .items-option-detail-new  {
    padding: 12px 14px;
}
.kurashiki .wrap-google-map-fm-v2.kurashiki .list-option-new-other .items-option-detail-new .items-text-detail-new {
    font-size: 12px;
}
.kurashiki .wrap-spots-shop-fm-v2.asakusa .title-big-spots {
    font-size: 11px;
}
.kurashiki .box-intro-bottom .title-intro-bottom {
    font-size: 14px;
}
.kurashiki .wrap-spots-shop-fm-v2 .wrap-des-spots{
    text-align: left;
}
.kurashiki .wrap-spots-shop-fm-v2 .wrap-des-spots{
    font-size: 14px;
}
.kurashiki .content-reason .including-info{
    font-size: 11px;
}
.kurashiki .title-item-reason .reason-price{
    font-size: 14px;
}
.kurashiki .content-reason .title-including .including-price{
    font-size: 13px;
}
.kurashiki  .content-reason .title-including .including-price var {
    font-size: 18px;
}
.kurashiki .content-reason .title-including .including-name {
    font-size: 12px;
}
/*kamakura*/
.kamakura .wrap-shop-intro .intro-title {
    font-size: 16px;
}
.kamakura .wrap-top-plan-circle-fm-v2.asakusa .wrap-text-scene-above {
    font-size: 16px;
}
.kamakura .list-option-detail-new-machi .items-option-detail-new {
    padding: 12px 12px;
}
.kamakura .list-option-detail-new-machi .text-link{
    font-size: 11px;
    margin-left: 0;
}
.kamakura .items-option-detail-new  {
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.kamakura .wrap-spots-shop-fm-v2.asakusa .title-big-spots {
    font-size: 12px;
    text-align: center;
}
.kamakura .content-reason .title-including  {
    display: flex;
    flex-direction: column;
}
.kamakura .content-reason .including-info {
    font-size: 11px;
}
.kamakura .list-step-date .note-date:before {
    bottom: 0px;
}
.kamakura .list-step-date .note-date:after {
    bottom: 0px;
}
.kamakura .wrap-scene-btn a  {
    font-size: 18px;
}
.kamakura .wrap-review-asakusa.wrap-review .intro .review-title {
    margin-bottom: 35px;
}
.kamakura .wrap-review-asakusa .btn-v2 .text-link {
    font-size: 14px;
}
.kamakura .wrap-top-plan-circle-fm-v2 .list-scene-v2 .item-scene-v2 .inside-circle .num-circle {
    font-size: 10px;
}
.kamakura .wrap-reason-choose-fm-v2.asakusa .text-reason-03,.kamakura .detail-link {
    font-size: 13px;
}
/*dazaifu*/
.new-access-child-page.dazaifu .dazaifu .content-reason .including-bottom a{
    font-size: 14px;
}
.new-access-child-page.dazaifu .list-option-new-shop-second .items-text-detail-new {
    padding: 4px 5px;
    min-height: 35px;
}
.new-access-child-page.dazaifu .content-reason .title-including{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.new-access-child-page.dazaifu .wrap-spots-shop-fm-v2 .wrap-des-spots{
    padding: 0;
}
/*kanazawa*/
.kanazawa .content-reason .title-including {
    flex-direction: column;
}
.kanazawa .content-reason .including-info {
    font-size: 11px;
}
.kanazawa .detail-link {
    font-size: 12px;
}
.kanazawa .wrap-spots-shop-fm-v2.asakusa .title-big-spots {
    font-size: 13px;
}
.kanazawa  .wrap-list-option-detail-new-1 .items-option-detail-new {
    min-height: 31px;
    display: flex;
    justify-content: center;
}
.kanazawa .list-option-detail-new-machi .text-link {
    padding: 0 10px;
}
.kanazawa .wrap-title-v2 .lbl-title {
    font-size: 17px;
}
.kanazawa .wrap-btn-v2 .btn-v2 a {
    font-size: 14px;
}
.kanazawa .wrap-title-ginza-store .sm-title{
    font-size: 13px;
}
.kanazawa .wrap-btn-v2 .btn-v2-reserve {
    font-size: 13px;
}
.kanazawa .wrap-general-google-map-btn.asakusa .wrap-link-btn .box-link-btn .link-to-btn .link-name {
    font-size: 13px;
}
.kanazawa .wrap-general-google-map-btn.asakusa .wrap-link-btn .box-link-btn .link-to-btn .read-more-link {
    font-size: 11px;
}
.kanazawa .wrap-link-btn .box-link-btn .link-to-btn:after {
    top: 20px
}
.kanazawa .list-option-new-shop-second .items-text-detail-new {
    padding: 4px;
}
.kanazawa .list-option-new-other .items-option-detail-new {
    width: calc(100% * 1/4 + 16px);
}
.kanazawa .wrap-google-map-fm-v2 .list-option-new-other .items-option-detail-new .items-text-detail-new {
    font-size: 12px;
    min-height: 30px;
}
.kanazawa .wrap-addess-gg-map .btn-v2 .text-link {
    font-size: 13px;
}
.kanazawa .shop-name-access-v2 {
    font-size: 28px;
}
.wrap-top-plan-circle-fm-v2.kanazawa .wrap-scene-btn a  {
    font-size: 14px;
    background-position: 0 25px;
}
.kanazawa .list-step-date .item-step-num {
    font-size: 12px;
}
.kanazawa list-step-date .note-date:before {
    -webkit-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg);
    margin-right: 10px;
    left: 10px;
}
.wrap-top-plan-circle-fm-v2.kanazawa .wrap-text-scene-above {
    font-size: 18px;
}
.kanazawa .list-reason .item-reason .title-item-reason .reason-des {
    font-size: 14px;
}
/*okinawa-naha*/
.wrap-google-map-fm-v2.okinawa-naha .okinawa-custom{
    width: 70%;
    margin: 0 auto;
}
.wrap-spots-shop-fm-v2.okinawa-naha .wrap-des-spots{
    font-size: 13px;
    line-height: 1.7;
}
.wrap-spots-shop-fm-v2.okinawa-naha .box-spots-shop-fm-v2{
    padding: 30px 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.wrap-spots-shop-fm-v2.okinawa-naha .title-big-spots{
    margin: 0 0 25px;
    font-size: 17px;
}