.wrap-main-banner-option-v2 .des-infor-banner{
    padding: 0 7px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.group-sub-banner-content .group-title-sub{
    padding: 8px 30px 8px 30px;
}