.wrap-new-main-banner-access.full-width {
    margin-bottom: 40px;
}
.right-new-access-v2-yukata .color-ginza-yukata,
.right-new-access-v2-yukata .text-blue,
.right-new-access-v2-yukata .wrap-access-to-shop-fm-v2-yukata .list-access-shop .num-item,
.right-new-access-v2-yukata .wrap-spots-shop-fm-v2-yukata .title-small-spots,
.right-new-access-v2-yukata .wrap-spots-shop-fm-v2-yukata .title-big-spots,
.right-new-access-v2-yukata .slider-ranking-yukata .widget-list-product-highend ul.list li .wrap-price .price,
.right-new-access-v2-yukata .slider-ranking-yukata .widget-list-product-highend ul.list li .wrap-price .price .currency,
.right-new-access-v2-yukata .slider-ranking-yukata .widget-list-product-highend ul.list li .wrap-price .price .tax,
.right-new-access-v2-yukata .wrap-google-map-fm-v2-yukata .jusho-color,
.right-new-access-v2-yukata .plan-info .price,
.right-new-access-v2-yukata .plan-info .wrap-btn a,
.right-new-access-v2-yukata .box-hairset-0yen .title-main,
.right-new-access-v2-yukata .box-hairset-0yen .text,
.right-new-access-v2-yukata .box-sub-list-hairset .item .text,
.right-new-access-v2-yukata .wrap-hairset-yukata .wrap-btn-v2 .btn-v2 a,
.right-new-access-v2-yukata .wrap-hairset-yukata .wrap-btn-v2 .btn-v2-reserve {
    color: #d84d96;
}
.right-new-access-v2-yukata .wrap-banner-intro-wargo{
    padding: 10px 20px 0;
}
.right-new-access-v2-yukata .des-intro-wargo-bottom{
    font-size: 13px;
}
.right-new-access-v2-yukata .plan-info .wrap-btn a,
.right-new-access-v2-yukata .plan-info .show-less span{
    border: 2px solid #d84d96;
}
.right-new-access-v2-yukata .plan-info .show-less span:before {
    border-right: 2px solid #d84d96;
    border-bottom: 2px solid #d84d96;
}
.right-new-access-v2-yukata .wrap-btn-v2 .btn-v2-01.bg-ginza-yukata,
.right-new-access-v2-yukata .bg-ginza-yukata,
.right-new-access-v2-yukata .bg-blue,
.right-new-access-v2-yukata .more-list-ginza-yukata .more-info,
.right-new-access-v2-yukata .wrap-review-thankyou-yukata .pd-review .link-more,
.right-new-access-v2-yukata .wrap-top-plan-circle-yukata-second .wrap-circle-top-plan,
.right-new-access-v2-yukata .wrap-addess-gg-map-yukata .text-addess-map,
.right-new-access-v2-yukata .wrap-hairset-yukata:before,
.right-new-access-v2-yukata .wrap-hairset-yukata:after,
.right-new-access-v2-yukata .wrap-hairset-yukata .wrap-btn-v2 .btn-v2 .icon-arrow-r-link,
.right-new-access-v2-yukata .wrap-hairset-yukata .wrap-btn-v2 .btn-v2 .icon-arrow-r-link:after,
.right-new-access-v2-yukata .wrap-content-howto-reserve.yukata .btn-step-01,
.right-new-access-v2-yukata .bg-skypink,
.right-new-access-v2-yukata .btn-v2-shinjuku-station{
    background-color: #d84d96;
}
.right-new-access-v2-yukata .shinjuku-station-yukata .wrap-btn-v2-ginza-shop,
.right-access-yukata-21 .sapporo-yukata .wrap-btn-v2-ginza-shop{
    width: 100%;
    margin-bottom: 40px;
}
.right-new-access-v2-yukata .wrap-list-option-new-shop-yukata .list-option-detail-new-machi .items-option-detail-new{
    background-color: #799b9b;
    border-radius: 10px;
    padding: 20px 10px;
}
.right-new-access-v2-yukata .list-option-detail-new-machi .icon-arrow-r-link{
    width: 90%;
}
.right-new-access-v2-yukata .pattern.ginza-honten.yukata:after,
.right-new-access-v2-yukata .wrap-hairset-yukata .pattern.ginza-honten:after,
.right-new-access-v2-yukata .wrap-btn-v2-other .pattern:after{
    border-color: transparent transparent transparent #abb0f3;
}
.right-new-access-v2-yukata .wrap-top-plan-circle-fm-v2 .wrap-review-shinjuku-yukata{
    margin: 0 -10px 25px;
}
.right-new-access-v2-yukata .wrap-top-plan-circle-fm-v2 .intro-bg{
    height: 50px;
    width: 10px;
}
.right-new-access-v2-yukata .wrap-top-plan-circle-fm-v2 .intro-bg:before{
    border-bottom: 18px solid transparent;
    border-left: 10px solid #d9c580;
}
.right-new-access-v2-yukata .wrap-top-plan-circle-fm-v2 .intro-bg:after {
    border-bottom: 18px solid transparent;
    border-right: 10px solid #fad2c5;
}
.right-new-access-v2-yukata .wrap-top-plan-circle-yukata-second .intro-bg:after {
    border-right: 10px solid #abb0f3;
}
.right-new-access-v2-yukata .wrap-top-plan-circle-yukata-second .last.intro-bg:after {
    border-right: 10px solid #d9c580;
}
.right-new-access-v2-yukata .wrap-top-plan-circle-yukata-second .last.intro-bg:before {
    border-left: 10px solid #abb0f3;
}
.right-new-access-v2-yukata .wrap-top-plan-circle-fm-v2 .wrap-review .intro .review-title{
    font-size: 12px;
    line-height: 1;
    margin-bottom: 7px;
    font-weight: bold;
}
.right-new-access-v2-yukata .wrap-top-plan-circle-fm-v2 .intro-content{
    margin-left: 10px;
}
.right-new-access-v2-yukata .wrap-top-plan-circle-fm-v2 .wrap-review .intro .text-des-top-plan{
    font-size: 10px;
    color: #000;
    line-height: 1;
}
.right-new-access-v2-yukata .wrap-top-plan-circle-fm-v2 .wrap-circle-top-plan{
    width: 42px;
    height: 42px;
}
.right-new-access-v2-yukata .wrap-top-plan-circle-fm-v2 .wrap-circle-top-plan .circle-top-plan{
    font-size: 12px;
    line-height: 1.2;
    margin-top: 0;
}
.right-new-access-v2-yukata .slider-ranking-yukata .widget-list-product-highend.more-items ul.list li .image {
    background-image: -webkit-repeating-linear-gradient(left, #d84d96 0%, #d84d96 50%, transparent 50%, transparent 100%), -webkit-repeating-linear-gradient(left, #d84d96 0%, #d84d96 50%, transparent 50%, transparent 100%), -webkit-repeating-linear-gradient(top, #d84d96 0%, #d84d96 50%, transparent 50%, transparent 100%), -webkit-repeating-linear-gradient(top, #d84d96 0%, #d84d96 50%, transparent 50%, transparent 100%);
    background-image: -o-repeating-linear-gradient(left, #d84d96 0%, #d84d96 50%, transparent 50%, transparent 100%), -o-repeating-linear-gradient(left, #d84d96 0%, #d84d96 50%, transparent 50%, transparent 100%), -o-repeating-linear-gradient(top, #d84d96 0%, #d84d96 50%, transparent 50%, transparent 100%), -o-repeating-linear-gradient(top, #d84d96 0%, #d84d96 50%, transparent 50%, transparent 100%);
    background-image: repeating-linear-gradient(to right, #d84d96 0%, #d84d96 50%, transparent 50%, transparent 100%), repeating-linear-gradient(to right, #d84d96 0%, #d84d96 50%, transparent 50%, transparent 100%), repeating-linear-gradient(to bottom, #d84d96 0%, #d84d96 50%, transparent 50%, transparent 100%), repeating-linear-gradient(to bottom, #d84d96 0%, #d84d96 50%, transparent 50%, transparent 100%);
    background-position: left top, left bottom, left top, right top;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 6px 1px, 6px 1px, 1px 6px, 1px 6px;
}
.right-new-access-v2-yukata .wrap-top-plan-circle-fm-v2-yukata .list-scene-v2 .item-scene-v2.color-circle-03 .inside-circle .num-circle-1{
    line-height: 1.5;
    font-size: 16px;
}
.right-new-access-v2-yukata .wrap-intro-content{
    padding: 0 10px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
.right-new-access-v2-yukata .wrap-intro-hiyori-fm-v2{
    border: 1px solid #d84d96;
}
.right-new-access-v2-yukata .wrap-google-map-fm-v2-yukata .list-option-new-shop-second .items-option-detail-new{
    background-color: #fff;
}
.right-new-access-v2-yukata .wrap-google-map-fm-v2-yukata .list-option-new-shop-second .items-option-detail-new:first-child{
    border: none;
}
.right-new-access-v2-yukata .wrap-google-map-fm-v2-yukata{
    border: 1px solid #d84d96;
    background-color: #f9e8f3;
}
.right-new-access-v2-yukata .wrap-list-option-new-shop-yukata .items-option-detail-new {
    background-color: #d84d96;
}
.right-new-access-v2-yukata .wrap-list-option-new-shop-yukata .items-text-detail-new{
    color: #fff;
}
.right-new-access-v2-yukata .wrap-list-option-detail-new-1{
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
}
.right-new-access-v2-yukata .wrap-list-option-detail-new-1 .list-option-detail-new:last-child{
    width: 60%;
    margin: 0 auto;
}
.right-new-access-v2-yukata .wrap-btn-v2-shinjuku-shop{
    margin-bottom: 30px;
}
.right-new-access-v2-yukata .plan-info .plan-name:before,
.right-new-access-v2-yukata .plan-info .plan-name:after {
    background: url(../../../../../images/new-kimono/access/flower-pt-shinjuku.svg) no-repeat;
    background-size: cover;
}
.right-new-access-v2-yukata .wrap-photos-shop-fm-v2{
    margin-bottom: 40px;
}
.right-new-access-v2-yukata .wrap-shop-intro {
    padding: 0 10px;
    margin-bottom: 30px;
}
.right-new-access-v2-yukata .wrap-shop-intro .intro-title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}
.right-new-access-v2-yukata .wrap-shop-intro .intro-title:before,
.right-new-access-v2-yukata .wrap-shop-intro .intro-title:after {
    position: absolute;
    content: '';
    background: url(../../../../../images/new-kimono/access/flower-pt-shinjuku.svg) no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    top: -10px;
}
.right-new-access-v2-yukata .wrap-shop-intro .intro-title:before {
    left: 0;
}
.right-new-access-v2-yukata .wrap-shop-intro .intro-title:after {
    right: 0;
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
}
.right-new-access-v2-yukata .wrap-hairset-yukata .content-hairset-yukata,
.right-new-access-v2-yukata .wrap-spots-shop-fm-v2-yukata{
    background: -webkit-repeating-linear-gradient(210deg, #f9e8f3, #f9e8f3 5px, #faedf5 5px, #faedf5 10px );
    background: -o-repeating-linear-gradient(210deg, #f9e8f3, #f9e8f3 5px, #faedf5 5px, #faedf5 10px );
    background: repeating-linear-gradient(-120deg, #f9e8f3, #f9e8f3 5px, #faedf5 5px, #faedf5 10px );
}
.right-new-access-v2-yukata .box-hairset-0yen .title-main:after{
    border-right: 7px solid #abb0f3;
}
.right-new-access-v2-yukata .box-sub-list-hairset .item .text{
    border-left: 3px solid #d84d96;
}
.right-new-access-v2-yukata .content-hairset-yukata .box-hairset-0yen{
    border-bottom: 1px dashed #d84d96;
}
.right-new-access-v2-yukata .wrap-spots-shop-fm-v2-yukata .pattern.ginza:before{
    border-color: #d84d96 transparent transparent transparent;
}
.right-new-access-v2-yukata .box-spots-shop-fm-v2 ul.list-content-spots .item-content-spots .text-content-spots .title-text{
    font-size: 18px;
}
.right-new-access-v2-yukata  .wrap-spots-shop-fm-v2-yukata .title-big-spots {
    background-image: url(../images/shop-fomal-v2/title-big-spots-shinjuku-yukata.svg);
}
.right-new-access-v2-yukata .wrap-access-to-shop-fm-v2-yukata{
    margin-bottom: 40px;
}
.right-new-access-v2-yukata .wrap-access-to-shop-fm-v2 .list-access-shop .slick-prev,
.right-new-access-v2-yukata .wrap-access-to-shop-fm-v2 .list-access-shop .slick-next{
    top: 40%;
}
.right-new-access-v2-yukata .wrap-access-to-shop-fm-v2 .list-access-shop .slick-prev:before,
.right-new-access-v2-yukata .list-access-shop .slick-prev:before{
    content: url(../images/shop-fomal-v2/prev-arrow-sp-shinjuku.svg);
}
.right-new-access-v2-yukata .wrap-access-to-shop-fm-v2 .list-access-shop .slick-next:before,
.right-new-access-v2-yukata .list-access-shop .slick-next:before{
    content: url(../images/shop-fomal-v2/next-arrow-sp-shinjuku.svg);
}
.right-new-access-v2-yukata .wrap-blog-shop-fm-v2.yukata .sub-item-info-other .bg-item-outside {
    background-color: #e484b7;
}
.right-new-access-v2-yukata .wrap-blog-shop-fm-v2.yukata .sub-item-info-other .bg-item-inside {
    background-color: #d84d96;
}
.right-new-access-v2-yukata .box-howto-reserve .bg-shop.wrap-r-icon-yukata{
    background-position: 0 -840px;
    color: #57b3e8;
}
.right-new-access-v2-yukata .box-howto-reserve .bg-web.wrap-r-icon-yukata {
    background-position: 0 -2602px;
    color: #d84d96;
}
.right-new-access-v2-yukata .title-sub-slug-yukata, .yukata.wrap-set-content .title-set-content {
    background: -webkit-repeating-linear-gradient(210deg, #e99dc5, #e99dc5 5px, rgba(233,157,197,0.8) 5px, rgba(233,157,197,0.8) 10px );
    background: -o-repeating-linear-gradient(210deg, #e99dc5, #e99dc5 5px, rgba(233,157,197,0.8) 5px, rgba(233,157,197,0.8) 10px );
    background: repeating-linear-gradient(-120deg, #e99dc5, #e99dc5 5px, rgba(233,157,197,0.8) 5px, rgba(233,157,197,0.8) 10px );
}
.right-new-access-v2-yukata .yukata.wrap-set-content .wrap-bt-set .bt-set.border-color-blue {
    border: 1px solid #d84d96;
    color: #d84d96;
}
.right-new-access-v2-yukata .wrap-set-content-fm-v2.yukata .right-text-set.right-text-set-shinjuku{
    font-size: 10px;
    color: #b49c00;
    text-align: right;
}
.right-new-access-v2-yukata .wrap-banner-shoukai-ibento-natsu .wrap-img-ginza-yukata{
    background-image: url(../images/shop-fomal-v2/bg-shoukai-ibento-shinjuku-sp.jpg);
    height: 545px;
}
/*Column post*/
.right-new-access-v2-yukata .wrap-column-post{
    padding: 0 10px;
    margin-bottom: 30px;
}
.right-new-access-v2-yukata .wrap-column-post .title{
    margin-bottom: 30px;
}
.right-new-access-v2-yukata .wrap-column-post .title .column-title{
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
}
.right-new-access-v2-yukata .column-list{
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 0 10px -15px;
}
.right-new-access-v2-yukata .column-list li{
    width: calc(100% * 1/2 - 15px);
    margin: 0 0 25px 15px;
    border: 1px solid #d84d96;
    padding: 10px 10px 20px 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
.right-new-access-v2-yukata .column-list li .post-num{
    position: absolute;
    top: -10px;
    left: -7px;
    border: 1px solid #d84d96;
    font-size: 20px;
    font-weight: bold;
    color: #d84d96;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #fff;
    -webkit-box-shadow: 4px 4px 0 0 rgba(216,77,150,1);
    box-shadow: 4px 4px 0 0 rgba(216,77,150,1);
}
.right-new-access-v2-yukata .column-list li .img a{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #d84d96;
    height: 92px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.right-new-access-v2-yukata .column-list li .img img{
    -o-object-fit: contain;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
}
.right-new-access-v2-yukata .column-list li .column-title{
    font-size: 13px;
    font-weight: bold;
    color: #d84d96;
    text-align: center;
}
.right-new-access-v2-yukata .column-list li .read{
    font-size: 11px;
    color: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 3px;
}
.right-new-access-v2-yukata .column-list li .read:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 45px 50px;
    border-color: transparent transparent #d84d96 transparent;
    z-index: -1;
}
.right-new-access-v2-yukata .wrap-column-list .read-more{
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    letter-spacing: 1px;
    background: url(../../../../../images/new-kimono/access/arrow-column.svg) no-repeat;
    background-size: 100%;
    background-position: 0 12px;
    height: 30px;
    width: 65%;
    padding-left: 5px;
}
.right-new-access-v2-yukata .wrap-price .price var.des-price-furisode{
    font-size: 10px;
}
.right-new-access-v2-yukata .wrap-text-title-shinjuku-custom{
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.right-new-access-v2-yukata .wrap-title-v2 .wrap-text-title-shinjuku-custom .lbl-title{
    font-size: 19px;
    margin-bottom: 5px;
}
.right-access-yukata-23 .color-ginza-yukata,
.right-access-yukata-23 .text-blue,
.right-access-yukata-23 .wrap-access-to-shop-fm-v2-yukata .list-access-shop .num-item,
.right-access-yukata-23 .wrap-spots-shop-fm-v2-yukata .title-small-spots,
.right-access-yukata-23 .wrap-spots-shop-fm-v2-yukata .title-big-spots,
.right-access-yukata-23 .slider-ranking-yukata .widget-list-product-highend ul.list li .wrap-price .price,
.right-access-yukata-23 .slider-ranking-yukata .widget-list-product-highend ul.list li .wrap-price .price .currency,
.right-access-yukata-23 .slider-ranking-yukata .widget-list-product-highend ul.list li .wrap-price .price .tax,
.right-access-yukata-23 .wrap-google-map-fm-v2-yukata .jusho-color,
.right-access-yukata-23 .plan-info .price,
.right-access-yukata-23 .plan-info .wrap-btn a,
.right-access-yukata-23 .box-hairset-0yen .title-main,
.right-access-yukata-23 .box-hairset-0yen .text,
.right-access-yukata-23 .box-sub-list-hairset .item .text,
.right-access-yukata-23 .wrap-hairset-yukata .wrap-btn-v2 .btn-v2 a,
.right-access-yukata-23 .wrap-hairset-yukata .wrap-btn-v2 .btn-v2-reserve
{
    color: #00a7b0;
}
.right-access-yukata-23 .wrap-btn-v2 .btn-v2-01.bg-ginza-yukata,
.right-access-yukata-23 .bg-ginza-yukata,
.right-access-yukata-23 .bg-blue,
.right-access-yukata-23 .more-list-ginza-yukata .more-info,
.right-access-yukata-23 .wrap-review-thankyou-yukata .pd-review .link-more,
.right-access-yukata-23 .wrap-top-plan-circle-yukata-second .wrap-circle-top-plan,
.right-access-yukata-23 .wrap-addess-gg-map-yukata .text-addess-map,
.right-access-yukata-23 .wrap-hairset-yukata:before,
.right-access-yukata-23 .wrap-hairset-yukata:after,
.right-access-yukata-23 .wrap-hairset-yukata .wrap-btn-v2 .btn-v2 .icon-arrow-r-link,
.right-access-yukata-23 .wrap-hairset-yukata .wrap-btn-v2 .btn-v2 .icon-arrow-r-link:after,
.right-access-yukata-23 .wrap-content-howto-reserve.yukata .btn-step-01,
.right-access-yukata-23 .btn-v2-shinjuku-station{
    background-color: #00a7b0;
}
.right-access-yukata-23 .wrap-list-option-new-shop-yukata .items-option-detail-new {
    background-color: #00a7b0;
}
.right-access-yukata-23 .wrap-intro-hiyori-fm-v2,
.right-access-yukata-23 .wrap-google-map-fm-v2-yukata .list-option-new-shop-second .items-option-detail-new {
    border: 1px solid #00a7b0;
}
.right-access-yukata-23 .wrap-google-map-fm-v2-yukata {
    border: 1px solid #00a7b0;
    background-color: #e0f4f4;
}
.right-access-yukata-23 .slider-ranking-yukata .widget-list-product-highend.more-items ul.list li .image{
    background-image: -webkit-repeating-linear-gradient(left, #00a7b0 0%, #00a7b0 50%, transparent 50%, transparent 100%), -webkit-repeating-linear-gradient(left, #00a7b0 0%, #00a7b0 50%, transparent 50%, transparent 100%), -webkit-repeating-linear-gradient(top, #00a7b0 0%, #00a7b0 50%, transparent 50%, transparent 100%), -webkit-repeating-linear-gradient(top, #00a7b0 0%, #00a7b0 50%, transparent 50%, transparent 100%);
}
.right-access-yukata-23 .plan-info .wrap-btn a,
.right-access-yukata-23 .plan-info .show-less span {
    border: 2px solid #00a7b0;
}
.right-access-yukata-23 .box-sub-list-hairset .item .text {
    border-left: 3px solid #00a7b0;
}
.right-access-yukata-23 .wrap-spots-shop-fm-v2-yukata .pattern.ginza:before {
    border-color: #00a7b0 transparent transparent transparent;
}
.right-access-yukata-23 .wrap-shop-intro .intro-title:before,
.right-access-yukata-23 .wrap-shop-intro .intro-title:after {
    background: url(../../../../../images/new-kimono/access/flower-pt-sendai-parco2.svg) no-repeat;
}
.right-access-yukata-23 .plan-info .plan-name:before,
.right-access-yukata-23 .plan-info .plan-name:after {
    background: url(../../../../../images/new-kimono/access/flower-pt-sendai-parco2.svg) no-repeat;
}
.right-access-yukata-23 .plan-info .show-less span:before {
    border-right: 2px solid #00a7b0;
    border-bottom: 2px solid #00a7b0;
}
.right-access-yukata-23 .wrap-hairset-yukata .content-hairset-yukata,
.right-access-yukata-23 .wrap-spots-shop-fm-v2-yukata
{
    background: repeating-linear-gradient(-120deg, #E0F4F4, #E0F4F4 5px, #e6f6f6 5px, #e6f6f6 10px );
}
.right-access-yukata-23 .yukata.wrap-set-content .title-set-content{
    background: repeating-linear-gradient(-120deg, #4fc2c8, #4fc2c8 5px, #72ced3 5px, #72ced3 10px );
}
.right-access-yukata-23 .content-hairset-yukata .box-hairset-0yen {
    border-bottom: 1px dashed #00a7b0;
}
.right-access-yukata-23 .wrap-spots-shop-fm-v2-yukata .title-big-spots {
    background-image: url(../images/shop-fomal-v2/title-big-spots-sendai-yukata.svg);
}
.right-access-yukata-23 .column-list li .post-num {
    border: 2px solid #00a7b0;
    color: #00a7b0;
    -webkit-box-shadow: 4px 4px 0 0 rgba(0, 167, 176, 1);
    box-shadow: 4px 4px 0 0 rgba(0, 167, 176, 1);
}
.right-access-yukata-23 .column-list li {
    border: 2px solid #00a7b0;
}
.right-access-yukata-23 .column-list li .img a{
    border-bottom: 2px dashed #00a7b0;
}
.right-access-yukata-23 .column-list li .column-title {
    color: #00a7b0;
}
.right-access-yukata-23 .column-list li .read:after{
    border-color: transparent transparent #00a7b0 transparent;
}
.right-access-yukata-23 .wrap-blog-shop-fm-v2.yukata .sub-item-info-other .bg-item-inside {
    background-color: #00a7b0;
}
.right-access-yukata-23 .wrap-blog-shop-fm-v2.yukata .sub-item-info-other .bg-item-outside {
    background-color: #e4e8f9;
}
.right-access-yukata-23 .yukata.wrap-set-content .wrap-bt-set .bt-set.border-color-blue {
    border: 1px solid #00a7b0;
}
.right-access-yukata-23 .wrap-grid-booking-access .wrap-btn-v2 .btn-v2-01 {
    background-color: #00a7b0;
}
.right-access-yukata-23 .wrap-access-to-shop-fm-v2 .list-access-shop .slick-prev:before,
.right-access-yukata-23 .list-access-shop .slick-prev:before {
    content: '\3008';
    font-size: 30px;
    color: #613B00;
    margin-left: -15px;
}
.right-access-yukata-23 .wrap-access-to-shop-fm-v2 .list-access-shop .slick-next:before,
.right-access-yukata-23 .list-access-shop .slick-next:before {
    content: '\3009';
    font-size: 30px;
    color: #613B00;
    margin-right: -15px;
}

.sendai-parco2-yukata.wrap-new-main-banner-access .intro-store{
    max-width: 430px;
}
.sendai-parco2-yukata.wrap-new-main-banner-access article {
    position: absolute;
    left: 2%;
    top: 44%;
    width: 57%;
}
.sendai-parco2-yukata.wrap-new-main-banner-access .shop-name {
    font-size: 20px;
}
.sendai-parco2-yukata.wrap-new-main-banner-access .text-area {
    font-size: 15px;
}
.right-access-yukata-23 .yukata.wrap-set-content .wrap-bt-set .bt-set.border-color-blue{
    color: #00a7b0;
}
.right-access-yukata-23 .des-intro-wargo-yukata{
    font-weight: 500;
}
.right-access-yukata-23 .wrap-link-btn .box-link-btn .link-to-btn .link-name {
    font-weight: 600;
}
.right-access-yukata-23 .list-step-num-yukata .bg-blue{
    background-color: #d84d96;
}
/*Sapporo Yukata*/
.right-access-yukata-21 .color-ginza-yukata,
.right-access-yukata-21 .text-blue,
.right-access-yukata-21 .wrap-access-to-shop-fm-v2-yukata .list-access-shop .num-item,
.right-access-yukata-21 .wrap-spots-shop-fm-v2-yukata .title-small-spots,
.right-access-yukata-21 .wrap-spots-shop-fm-v2-yukata .title-big-spots,
.right-access-yukata-21 .slider-ranking-yukata .widget-list-product-highend ul.list li .wrap-price .price,
.right-access-yukata-21 .slider-ranking-yukata .widget-list-product-highend ul.list li .wrap-price .price .currency,
.right-access-yukata-21 .slider-ranking-yukata .widget-list-product-highend ul.list li .wrap-price .price .tax,
.right-access-yukata-21 .wrap-google-map-fm-v2-yukata .jusho-color,
.right-access-yukata-21 .plan-info .price,
.right-access-yukata-21 .plan-info .wrap-btn a,
.right-access-yukata-21 .box-hairset-0yen .title-main,
.right-access-yukata-21 .box-hairset-0yen .text,
.right-access-yukata-21 .box-sub-list-hairset .item .text,
.right-access-yukata-21 .wrap-hairset-yukata .wrap-btn-v2 .btn-v2 a,
.right-access-yukata-21 .wrap-hairset-yukata .wrap-btn-v2 .btn-v2-reserve {
    color: #535fa3;
}
.right-access-yukata-21 .wrap-btn-v2 .btn-v2-01.bg-ginza-yukata,
.right-access-yukata-21 .bg-ginza-yukata,
.right-access-yukata-21 .wrap-btn-v2-other .bg-blue,
.right-access-yukata-21 .more-list-ginza-yukata .more-info,
.right-access-yukata-21 .wrap-review-thankyou-yukata .pd-review .link-more,
.right-access-yukata-21 .wrap-top-plan-circle-yukata-second .wrap-circle-top-plan,
.right-access-yukata-21 .wrap-addess-gg-map-yukata .text-addess-map,
.right-access-yukata-21 .wrap-hairset-yukata:before,
.right-access-yukata-21 .wrap-hairset-yukata:after,
.right-access-yukata-21 .wrap-hairset-yukata .wrap-btn-v2 .btn-v2 .icon-arrow-r-link,
.right-access-yukata-21 .wrap-hairset-yukata .wrap-btn-v2 .btn-v2 .icon-arrow-r-link:after,
.right-access-yukata-21 .wrap-content-howto-reserve.yukata .btn-step-01,
.right-access-yukata-21 .btn-v2-sapporo-yukata{
    background-color: #535fa3;
}
.right-access-yukata-21 .pattern.ginza-honten.yukata:after,
.right-access-yukata-21 .wrap-hairset-yukata .pattern.ginza-honten:after,
.right-access-yukata-21 .wrap-btn-v2-other .pattern:after{
    border-color: transparent transparent transparent #b3a7cf;
}
.right-access-yukata-21 .wrap-content-howto-reserve .pattern.ginza-honten.yukata:after{
    border-color: transparent transparent transparent #f9cbe2;
}
.right-access-yukata-21 .wrap-list-option-new-shop-yukata .items-option-detail-new {
    background-color: #535fa3;
}
.right-access-yukata-21 .wrap-intro-hiyori-fm-v2{
    border: 1px solid #535fa3;
}
.right-access-yukata-21 .wrap-google-map-fm-v2-yukata {
    border: 1px solid #535fa3;
    background-color: #e4e8f9;
    margin-bottom: 20px;
}
.right-access-yukata-21 .plan-info .show-less span:before {
    border-right: 2px solid #535fa3;
    border-bottom: 2px solid #535fa3;
}
.right-access-yukata-21 .slider-ranking-yukata .widget-list-product-highend.more-items ul.list li .image{
    background-image: -webkit-repeating-linear-gradient(left, #535fa3 0%, #535fa3 50%, transparent 50%, transparent 100%), -webkit-repeating-linear-gradient(left, #535fa3 0%, #535fa3 50%, transparent 50%, transparent 100%), -webkit-repeating-linear-gradient(top, #535fa3 0%, #535fa3 50%, transparent 50%, transparent 100%), -webkit-repeating-linear-gradient(top, #535fa3 0%, #535fa3 50%, transparent 50%, transparent 100%);
}
.right-access-yukata-21 .wrap-hairset-yukata .content-hairset-yukata,
.right-access-yukata-21 .wrap-spots-shop-fm-v2-yukata {
    background: -o-repeating-linear-gradient(210deg, #e4e8f9, #e4e8f9 5px, #e9edfa 5px, #e9edfa 10px );
    background: repeating-linear-gradient(-120deg, #e4e8f9, #e4e8f9 5px, #e9edfa 5px, #e9edfa 10px );
}
.right-access-yukata-21 .plan-info .wrap-btn a,
.right-access-yukata-21 .plan-info .show-less span {
    border: 2px solid #535fa3;
}
.right-access-yukata-21 .box-sub-list-hairset .item .text {
    border-left: 3px solid #535fa3;
}
.right-access-yukata-21 .wrap-spots-shop-fm-v2-yukata .pattern.ginza:before {
    border-color: #535fa3 transparent transparent transparent;
}
.right-access-yukata-21 .wrap-shop-intro .intro-title:before,
.right-access-yukata-21 .wrap-shop-intro .intro-title:after,
.right-access-yukata-21 .plan-info .plan-name:before,
.right-access-yukata-21 .plan-info .plan-name:after{
    background: url(../../../../../images/new-kimono/access/flower-pt-sapporo-yukata.svg) no-repeat;
    background-size: cover;
}
.right-access-yukata-21 .wrap-blog-shop-fm-v2.yukata .sub-item-info-other .bg-item-inside {
    background-color: #535fa3;
}
.right-access-yukata-21 .wrap-blog-shop-fm-v2.yukata .sub-item-info-other .bg-item-outside{
    background-color: #e4e8f9;
}
.right-access-yukata-21 .wrap-blog-shop-fm-v2.yukata .sub-item-info-other .bg-item-inside a{
    color: #fff;
}
.right-access-yukata-21 .wrap-google-map-fm-v2 .wrap-btn-v2-map .btn-v2{
    background-color: #799b9b;
}
.right-access-yukata-21 .wrap-reservation-status-fm-v2.yukata .wrap-grid-booking-inner .paged #page-next:before{
    border-left: 11px solid #535fa3;
}
.right-access-yukata-21 .wrap-reservation-status-fm-v2.yukata .wrap-grid-booking-inner .paged #page-pre:before {
    border-right: 11px solid #535fa3;
}
.sapporo-yukata.wrap-new-main-banner-access article{
    width: 53%;
    top: 41%;
}
.sapporo-yukata.wrap-new-main-banner-access .intro-store{
    width: 170px;
    color: #000;
}
.sapporo-yukata.wrap-new-main-banner-access .name-store{
    margin-bottom: 15px;
    color: #fdbccd;
}
.sapporo-yukata.wrap-new-main-banner-access .text-area{
    background-color: #feffa7;
    padding: 3px 8px;
}
.right-access-yukata-21 .des-intro-wargo-yukata{
    line-height: 1.4;
    margin-bottom: 20px;
}
.right-access-yukata-21 .des-intro-wargo-bottom{
    font-size: 12px;
}
.right-access-yukata-21 .wrap-des-intro-wargo{
    margin-bottom: 25px;
}
.right-access-yukata-21 .wrap-title-v2{
    margin-bottom: 20px;
}
.right-access-yukata-21 .wrap-sidebar-products-fm-v2 .wrap-title-v2 .wrap-text-title-shinjuku-custom .lbl-title{
    letter-spacing: 0;
}
.right-access-yukata-21 .widget-list-product-highend ul.list li .info .namefurisode{
    text-align: left;
}
.right-access-yukata-21 .wrap-top-plan-circle-fm-v2-yukata .list-scene-v2 .item-scene-v2.color-circle-03 .inside-circle .num-circle-1{
    margin-bottom: 0;
    font-size: 14px;
}
.right-access-yukata-21 .wrap-shop-intro .intro-title{
    font-size: 14px;
}
.right-access-yukata-21 .box-hairset-0yen .line-hairset{
    width: 80%;
    margin: 0 auto 15px;
}
.right-access-yukata-21 .content-hairset-yukata .box-hairset-0yen {
    border-bottom: 1px dashed #535fa3;
}
.right-access-yukata-21  .wrap-spots-shop-fm-v2-yukata .title-big-spots {
    background-image: url(../images/shop-fomal-v2/title-big-spots-sapporo-yukata.svg);
    font-size: 16px;
}
.right-access-yukata-21 .column-list li .post-num {
    border: 1px solid #535fa3;
    color: #535fa3;
    -webkit-box-shadow: 4px 4px 0 0 #535fa3;
    box-shadow: 4px 4px 0 0 #535fa3;
}
.right-access-yukata-21 .column-list li {
    border: 1px solid #535fa3;
}
.right-access-yukata-21 .column-list li .img a{
    border-bottom: 1px dashed #535fa3;
}
.right-access-yukata-21 .column-list li .column-title {
    color: #535fa3;
}
.right-access-yukata-21 .column-list li .read:after{
    border-color: transparent transparent #535fa3 transparent;
}
.right-access-yukata-21 .wrap-column-post .title .column-title{
    font-size: 13px;
    color: #000;
    margin-top: 2px;
}
.right-access-yukata-21 .wrap-title-ginza-store .sm-title{
    font-size: 16px;
}
.right-access-yukata-21 .wrap-access-to-shop-fm-v2 .list-access-shop .slick-prev:before,
.right-access-yukata-21 .list-access-shop .slick-prev:before{
    content: url(../images/shop-fomal-v2/prev-arrow-sp-sapporo-yukata.svg);
}
.right-access-yukata-21 .wrap-access-to-shop-fm-v2 .list-access-shop .slick-next:before,
.right-access-yukata-21 .list-access-shop .slick-next:before{
    content: url(../images/shop-fomal-v2/next-arrow-sp-sapporo-yukata.svg);
}
.right-access-yukata-21 .wrap-blog-shop-fm-v2.yukata{
    margin-top: 0;
}
.right-access-yukata-21 .yukata.wrap-set-content .title-set-content{
    background: -o-repeating-linear-gradient(210deg, #8891c0, #8891c0 5px, #a0a7cd 5px, #a0a7cd 10px );
    background: repeating-linear-gradient(-120deg, #8891c0, #8891c0 5px, #a0a7cd 5px, #a0a7cd 10px );
}
.right-access-yukata-21 .yukata.wrap-set-content .wrap-bt-set .bt-set.border-color-blue{
    border: 1px solid #535fa3;
    color: #535fa3;
}
.list-option-new-shop-second .list-option-new-other{
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.list-option-new-other .items-option-detail-new{
    width: calc(100% * 1/4 + 21px);
}
.wrap-google-map-fm-v2 .list-option-new-other .items-option-detail-new .items-text-detail-new{
    font-size: 10px;
}
.right-access-yukata-23 .wrap-google-map-fm-v2-yukata .list-option-new-shop-second .items-option-detail-new:first-child {
    border: 1px solid #00a7b0;
}
.right-access-yukata-21 .wrap-google-map-fm-v2-yukata .list-option-new-shop-second .items-option-detail-new:first-child {
    border: 1px solid #535fa3;
}
.wrap-title-v2 .wrap-text-title{
    margin-left: 5px;
}