/*lettter-spacing*/
*{
    letter-spacing: 0;
}
.right-new-shop-formal-v2 .wrap-top-plan-circle-fm-v2 .wrap-circle-top-plan .circle-top-plan{
    font-size: 12px;
}
.right-new-shop-formal-v2 .wrap-top-plan-circle-fm-v2 .wrap-circle-top-plan {
    width: 80px;
    height: 80px;
}
.right-new-shop-formal-v2 .wrap-addess-gg-map .btn-v2 .text-link{
    font-size: 10px;
}
.right-new-shop-formal-v2 .wrap-list-option-detail-new-1 .items-option-detail-new{
    width: calc(100% * (1/3) - 8px);
}
.right-new-shop-formal-v2 .list-option-detail-new-machi .text-link {
    font-size: 12px;
    margin-left: -5px;
}
.right-new-shop-formal-v2 .wrap-link-btn .box-link-btn .link-to-btn .link-name{
    font-size: 12px;
}
.right-new-shop-formal-v2 .wrap-link-btn .box-link-btn .link-to-btn:after {
    top: 18px;
}
.right-new-shop-formal-v2 .wrap-plans-shop-fm-v2 .plan-text span{
    min-width: 115px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.right-new-shop-formal-v2 .wrap-special-event-fm-v2 .info-event{
    font-size: 12px;
}
.right-new-shop-formal-v2 .box-point-event .point-text{
    font-size: 11px;
}
.right-new-shop-formal-v2 .notes-bottom {
    font-size: 11px;
}
.right-new-shop-formal-v2 .list-reason .item-reason .title-item-reason .reason-des{
    font-size: 13px;
}
.right-new-shop-formal-v2 h2.title-big-spots.text-center{
    font-size: 17px;
}
.right-new-shop-formal-v2 .list-ginza-store .item-ginza-store .info .lbl-name-store{
    font-size: 12px;
}
.right-new-shop-formal-v2 .wrap-banner-photo-session .title-v2-photo-session .wrap-text-title .lbl-title{
    font-size: 16px;
}
.right-new-shop-formal-v2 .wrap-review-ginza-honten .sub-title-intro .name{
    font-size: 14px;
}
.right-new-shop-formal-v2 .box-howto-reserve .group-icon .wrap-r-icon p{
    top: 16px;
}
.right-new-shop-formal-v2 .wrap-flow-delivery .group-step-flow .des-group-step p{
    font-size: 11px;
}
.right-new-shop-formal-v2 .ginza-honten.wrap-set-content .right-text-set {
    font-size: 11px;
    text-align: left;
}
.right-new-shop-formal-v2 .wrap-top-plan-circle-fm-v2 .list-scene-v2 .item-scene-v2 .inside-circle .num-circle {
    font-size: 12px;
}
.right-new-shop-formal-v2 .wrap-list-info-r6-ginza .main-content .sm-text {
    font-size: 10px;
}
.right-new-shop-formal-v2 .wrap-buttons{
    flex-direction: column;
}
.right-new-shop-formal-v2 .slider-gallery .slick-next:before{
    transform: rotate(0deg);
}
.right-new-shop-formal-v2 .slider-gallery .slick-prev:before {
    transform: rotate(0deg);
}
.right-new-shop-formal-v2 .slider-gallery .slick-prev:before, .slider-gallery .slick-next:before {
    color: #ffffff;
}
.right-new-shop-formal-v2 .content-reason .title-including{
    flex-direction: column;
    align-items: flex-start;
}
.right-new-shop-formal-v2 .content-reason .including-bottom a{
    font-size: 13px;
}
.right-new-shop-formal-v2 .list-including .item-including-other .des-sub-including{
    font-size: 8px;
}
.right-new-shop-formal-v2 .wrap-confidence .text-big-confidence .yellow{
    font-size: 15px;
}
.right-new-shop-formal-v2 .wrap-btn-v2-other .text-link.sm{
    font-size: 12px;
}
.right-new-shop-formal-v2 .wrap-set-content .text-set-content {
    font-size: 11px;
}
.right-new-shop-formal-v2 .ginza-honten .box-col-apa .col-apa .content-apa {
    line-height: 2;
}
.ginza-honten .box-col-apa {
    height: 700px!important;
}
.ginza-honten .box-col-apa .col-apa .content-apa {
    margin: 90px 0!important;
}