.info-cm{
    margin-bottom: 35px;
}
.info-cm .text-info-cm{
    font-size: 14px;
    margin-bottom: 15px;
}
.info-cm .noted-info-cm{
    color: red;
    font-size: 13px;
}
.sl-forget-password{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.sl-forget-password .lbl-name-cm{
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 1;
}
.sl-forget-password .wrap-sl-common .box-sl-cm{
    width: 100%;
}
.cm-user-forget-password .group-cm-user{
    margin-bottom: 40px;
}
@media (min-width: 750px){
    .info-cm .text-info-cm {
        font-size: 13px;
    }
    .cm-user-forget-password .group-cm-user .input-group-cm .form-control-cm{
        width: 60%;
    }
    .cm-user-forget-password .group-two-btn-cm{
        justify-content: inherit;
    }
    .cm-user-forget-password .group-two-btn-cm .wrap-btn-cm{
        width: 244px;
        margin-left: 0;
    }
    .cm-user-forget-password .group-two-btn-cm .wrap-btn-cm .btn-cm{
        flex: none;
        width: 100%;
        padding: 12px 20px;
    }
}