/***  New Kimono News ***/
.wrap-new-kimono-news .title-list{
	padding: 5px 20px;
	margin-bottom: 30px;
}
.wrap-new-kimono-news .title-general .icon-title-general{
	font-size: 35px;
	margin-right: 10px;
}
.wrap-new-kimono-news .sub-title-list{
	text-transform: uppercase;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.wrap-new-kimono-news .sub-title{
	margin-left: 20px;
	font-size: 13px;
}
.news-list-description{
	margin-bottom: 20px;
}
.wrap-new-kimono-news .news-item{
	border-bottom: 1px solid #222;
	margin-bottom: 20px;
	padding-bottom: 20px;
	overflow: hidden;
}
.wrap-new-kimono-news .news-item:last-child{
	margin-bottom: 0;
}
.wrap-new-kimono-news .news-box{
	padding: 0 10px;
	margin-bottom: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.wrap-new-kimono-news .news-link-top{
	margin-bottom: 15px;
}
.wrap-new-kimono-news .news-image{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 120px;
	height: 120px;
	float: left;
	margin: 0 15px 0 0;
	border: 1px solid #eee;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.wrap-new-kimono-news .news-image img{
	width: 100%;
	-o-object-fit: contain;
	object-fit: contain;
}
.wrap-new-kimono-news .news-date{
	font-size: 12px;
	letter-spacing: 3px;
	line-height: 1;
	margin-bottom: 12px;
}
.wrap-new-kimono-news .news-title{
	font-size: 13px;
	letter-spacing: 3px;
	margin: 0 0 12px 135px;
}
.wrap-new-kimono-news .news-content{
	font-size: 13px;
	letter-spacing: 3px;
	line-height: 1.7;
}
.wrap-new-kimono-news .news-link-top a{
	color: #444;
	font-size: 14px;
	letter-spacing: 3px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.wrap-new-kimono-news .news-link-top a:after{
	display: inline-block;
	content: "";
	width: 8px;
	height: 8px;
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	border-right: 1px solid rgba(107,122,131,1);
	border-bottom: 1px solid rgba(107,122,131,1);
	cursor: pointer;
	margin-left: 5px;
}

/* Single News */
.wrap-single-news-intro{
	position: relative;
	margin-bottom: 30px;
}
.single-news-intro{
	position: absolute;
	left: 15px;
	bottom: 10px;
}
.single-news-image{
	position: relative;
	border: 1px solid #eee;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.single-news-image img{
	width: 100%;
}
.single-news-image .overlay-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.3);
}
.single-news-title,
.single-news-date{
	color: #fff;
	font-size: 12px;
}
.single-news-title{
	margin: 0 10px 0 5px;
	font-size: 20px;
}
.wrap-single-news-content{
	padding: 0 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.wrap-single-news-content h2{
	font-size: 15px;
	margin: 10px 0;
}
.wrap-single-news-content p{
	line-height: 1.8;
	font-size: 13px;
}
.box-content-fixed-news .title-box{
	background-color: #945191;
	color: #fff;
	font-weight: bold;
	margin: 15px 0;
	font-size: 17px;
	line-height: 1.3;
	padding: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.box-content-fixed-news .content-box{
	line-height: 1.8;
	font-size: 13px;
}
.back-to-news{
	text-align: right;
	margin-top: 20px;
	padding: 0 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.back-to-news a{
	font-size: 13px;
}
.news-paging .wp-pagenavi a,
.news-paging .wp-pagenavi span{
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@media (min-width: 750px) {
	.wrap-new-kimono-news{
		margin-left: 20px;
	}
	.wrap-new-kimono-news .title-list{
		margin-bottom: 30px;
	}
	.news-list-description{
		font-size: 15px;
	}
	.wrap-new-kimono-news .news-box{
		padding: 0;
	}
	.wrap-new-kimono-news .news-list{
		display: flex;
		flex-wrap: wrap;
		margin-left: -25px;
	}
	.wrap-new-kimono-news .news-item{
		width: calc(100% * (1/2) - 25px);
		margin: 0 0 25px 25px;
		padding-bottom: 25px;
	}
	.wrap-new-kimono-news .news-image{
		width: 180px;
		height: 180px;
	}
	.wrap-new-kimono-news .news-image img{
		width: 100%;
	}
	.wrap-new-kimono-news .news-title{
		margin-left: 195px;
	}
	.wrap-new-kimono-news .news-image{
		width: 180px;
		height: 180px;
	}
	.wrap-new-kimono-news .news-title{
		margin-left: 195px;
	}
	.wrap-boths-column .right-column .intro-top-general.intro-top-general-news{
		margin-top: 100px;
	}

	/* Single News */
	.single-news-title{
		width: 630px;
		font-size: 25px;
		margin: 0 0 10px 0;
	}
	.single-news-image{
		width: 640px;
	}
	.single-news-date{
		font-size: 13px;
	}
	.wrap-single-news-content{
		padding: 0;
	}
	.wrap-single-news-content h2{
		font-size: 20px;
		margin: 15px 0;
	}
	.wrap-single-news-content p{
		font-size: 15px;
	}
	.box-content-fixed-news .title-box{
		font-size: 20px;
		padding: 5px 10px;
	}
	.box-content-fixed-news .content-box{
		font-size: 15px;
	}
	.back-to-news a{
		font-size: 15px;
	}
}