@media (min-width: 750px){
    .widget-top-shoplist .list-shoplist-wg .item-shoplist-wg .text-label-shop {
        font-size: 9px;
        text-align: center;
    }
    .widget-top-shoplist .list-shoplist-wg .item-shoplist-wg .text-des-shop-wg {
        font-size: 10px;
    }
    .top-shoplist-kiyomizu .item-shoplist-wg-other .sub-list-other .item-sub-list-other .link-shoplist-wg{
        height: 155px;
    }
    .top-shoplist-arashiyama .list-shoplist-wg-other .sub-list-other .item-sub-list-other .link-shoplist-wg{
        height: 196px;
    }
    .top-shoplist-arashiyama .list-shoplist-wg-other .sub-list-other .item-sub-list-other:last-child .link-shoplist-wg{
        height: 182px;
    }
}